<template>
  <div class="hire-me-footer">
    <h2>Hiring?</h2>
    <p>
      I’m a full stack developer specializing in databases, ETL, and graphics
      programming.
    </p>
    <div class="horizontal-button-panel">
      <router-link to="/resume" class="btn-normal">Resume</router-link>
      <a href="https://codeberg.org/vlfldr" class="btn-normal">Codeberg</a>
      <router-link to="/contact" class="btn-normal">Contact</router-link>
    </div>
  </div>
</template>