<template>
  <div :class="getClass()">
    
    <h1>{{ props.navTitle }}</h1>
    <transition-group @before-leave="beforeLeave" v-if="!firstLoad" name="fade">
      <router-link
        key="1"
        class="btn-normal btn-home no-select"
        v-if="props.page != 'Home'"
        to="/"
        >Home</router-link
      >
      <router-link key="2" class="btn-normal no-select" to="/projects"
        >Projects</router-link
      >
      <router-link key="3" class="btn-normal btn-submenu btn-submenu-first no-select" to="/projects/ucourse">uCourse</router-link>
      <a key="4" class="btn-normal btn-submenu no-select" href="https://codeberg.org/vlfldr/homey">Homey</a>
      <router-link key="5" class="btn-normal btn-submenu no-select" to="/projects/wayland-hyprland">Hyprland Desktop Configuration</router-link>
      <router-link key="7" class="btn-normal btn-submenu btn-submenu-last no-select" to="/projects/raymarching">Raymarching</router-link>
      <a key="8" class="btn-normal no-select" href="https://codeberg.org/vlfldr"
        >Codeberg</a
      >
      <router-link key="9" class="btn-normal no-select desktop-only" to="/resume">Résumé</router-link>
      <router-link key="10" class="btn-normal no-select" to="/contact"
        >Contact</router-link
      >
    </transition-group>

    <div :class="'nav__hint no-select' + getNavHintClass()">
      <code id="nav__hint--code"
        ><span>// create all scene geometry</span><br />p = new Plane();</code
      >
      <router-link class="btn-normal nav__hint--link" to="/projects/raymarching"
        >Read more <i class="fa-solid fa-circle-right"></i
      ></router-link>
    </div>
  </div>

  <ThreeNavbar ref="threeNavbar" :page="props.page" />
</template>

<script setup>
import ThreeNavbar from "@/components/ThreeNavbar.vue";
import { ref, watch } from "vue";
import { useRoute } from "vue-router";

const route = useRoute();
const firstLoad = ref(true);

// fix transition jump: https://forum.vuejs.org/t/transition-group-leave-transition-w-position-absolute-jumping-to-top-left-flip/12258/3
function beforeLeave(el) {
  const { width, height } = window.getComputedStyle(el);
  el.style.left = el.offsetLeft;
  el.style.top = "90px"; // header height - button height - button padding height
  el.style.width = width;
  el.style.height = height;
}

//do not transition on initial page load
watch(
  () => route.path,
  async (to, from) => {
    if (!from) {
      setTimeout(() => {
        firstLoad.value = false;
      }, 200);
    }
  },
  { immediate: true }
);

const threeNavbar = ref(null);

defineExpose({
  threeNavbar,
});

const props = defineProps({
  navTitle: String,
  page: String,
});

function getTransition() {
  return firstLoad.value === false ? "fade" : "";
}

function getClass() {
  return props.page === "Home" ? "nav nav__home" : "nav nav__side";
}

function getNavHintClass() {
  return props.page === "Home" ? "" : " nav__hint__sidebar";
}
</script>
