<template>
    <div v-if="gameEnabledRef" id="resume-game__menu" ref="menu" class="resume-game__menu">
        <button
            @click="toggleEditor()"
            @mouseenter="expandMenu('Toggle Editor')"
            @mouseleave="shrinkMenu()"
        >
            <i class="fa-solid fa-pen-to-square"></i>
        </button>
        <button v-if="!editorEnabledRef"
            @click="Game.toggleZoom()"
            @mouseenter="expandMenu('Zoom Out')"
            @mouseleave="shrinkMenu()"
        >
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
        <button v-if="!editorEnabledRef"
            @click="Game.resetPlayer()"
            @mouseenter="expandMenu('Reset Player')"
            @mouseleave="shrinkMenu()"
        >
            <i class="fa-solid fa-arrows-rotate"></i>
        </button>

        <button v-if="editorEnabledRef"
            @click="Game.tileMap.exportToFile()"
            @mouseenter="expandMenu('Save Map')"
            @mouseleave="shrinkMenu()"
        >
            <i class="fa-solid fa-download"></i>
        </button>
        <button v-if="editorEnabledRef"
            @click="Game.tileMap.importMap();"
            @mouseenter="expandMenu('Load Map')"
            @mouseleave="shrinkMenu()"
        >
            <i class="fa-solid fa-upload"></i>
        </button>

        <button @mouseenter="expandMenu('Read more...')" @mouseleave="shrinkMenu()">
            <i class="fa-solid fa-question">
                <router-link to="/projects/platformer"></router-link>
            </i>
        </button>
        <button
            @click="emitToggle()"
            @mouseenter="expandMenu('Plaintext Resume')"
            @mouseleave="shrinkMenu()"
        >
            <i class="fa-solid fa-xmark"></i>
        </button>
        <span v-if="menuOpen">{{ selectedButton }}</span>
    </div>
    <div
        v-else
        id="resume-game__menu"
        ref="menu"
        class="resume-game__menu resume-game__menu--small"
    >
        <button
            @click="emitToggle()"
            @mouseenter="expandMenu('Interactive Resume')"
            @mouseleave="shrinkMenu()"
        >
            <i class="fa-solid fa-gamepad"></i>
        </button>
        <span v-if="menuOpen">{{ selectedButton }}</span>
    </div>
</template>

<script setup>
import { ref } from 'vue';
import * as Game from '@/resume-game/main.js';

let menuOpen = ref(false);
let selectedButton = ref('');

const emit = defineEmits(['toggleResumeState']);
const props = defineProps({ gameEnabled: Boolean });
let gameEnabledRef = ref(props.gameEnabled);
let editorEnabledRef = ref(false);

function toggleEditor() {
    Game.toggleEditor();
    editorEnabledRef.value = !editorEnabledRef.value;
}

function emitToggle() {
    emit('toggleResumeState');
    selectedButton.value = '';
    menuOpen.value = false;
    gameEnabledRef.value = !gameEnabledRef.value;
}

function expandMenu(currentButton) {
    let cl = ' resume-game__menu__expanded';
    if (gameEnabledRef.value === false) cl = ' resume-game__menu__wide';
    document.getElementById('resume-game__menu').classList += cl;

    menuOpen.value = true;
    selectedButton.value = currentButton;
}

function shrinkMenu() {
    document.getElementById('resume-game__menu').classList = 'resume-game__menu';
    menuOpen.value = false;
}
</script>