<template>
  <div id="resume-game-wrapper">
    <canvas id="background-canvas"></canvas>
    <canvas id="game-canvas"></canvas>
  </div>
</template>

<script setup>
import { onMounted, onUnmounted } from 'vue';
import * as Game from '@/resume-game/main.js';
import mapStr from '@/assets/_map.txt?raw';

onMounted(() => {
   Game.init(mapStr);
});

onUnmounted(() => {
  Game.cleanup();
});

function render(time) {
  Game.mainLoop(time);
}

defineExpose({
  render
});

</script>