<template>
  <canvas :class="'three-navbar ' + getClass()" />
</template>

<script setup>
import {
  LineSegments,
  OrthographicCamera,
  PlaneGeometry,
  ShaderMaterial,
  Vector2,
  Vector3,
  WebGLRenderer,
  WireframeGeometry,
  Scene,
  Mesh,
} from "three";

import { onMounted, ref } from "vue";

import snowflakeShader from "@/assets/snowflakeShader.glsl?raw";
//import torusShader from "@/assets/fragShader.glsl?raw";

let origShader = snowflakeShader;

const props = defineProps({
  page: String,
});

let showWireframe = ref(false);

let winWidth, winHeight;
let plane, planeMesh;
let scene, renderer, canvas;

// wait until canvas is mounted
onMounted(() => {
  canvas = document.querySelector("canvas.three-navbar");
  if (!renderer) {
    renderer = new WebGLRenderer({
      canvas: canvas,
      //antialias: true,      // mobile browsers hate him! destroy mali GPUs with this one weird trick!
      alpha: false,
    });
  }

  let currentNav = document.getElementsByClassName("nav")[0];
  let mouseoverHint = document.getElementById("nav__hint--code");
  currentNav.addEventListener("pointermove", onPointerMove, false);
  currentNav.addEventListener(
    "pointerdown",
    () => {
      pointerDown = true;
    },
    false
  );
  currentNav.addEventListener(
    "pointercancel",
    () => {
      pointerDown = false;
    },
    false
  );
  currentNav.addEventListener(
    "pointerup",
    () => {
      pointerDown = false;
    },
    false
  );
  currentNav.addEventListener(
    "pointerleave",
    () => {
      pointerDown = false;
    },
    false
  );
  mouseoverHint.addEventListener(
    "pointerover",
    () => {
      showWireframe.value = true;
    },
    false
  );
  mouseoverHint.addEventListener(
    "pointerleave",
    () => {
      showWireframe.value = false;
    },
    false
  );
  mouseoverHint.addEventListener(
    "pointercancel",
    () => {
      showWireframe.value = false;
    },
    false
  );
});

function onPointerMove(e) {
  mouse.x = ((e.clientX / renderer.domElement.width) * 2 - 1) * 2.5;
  mouse.y = ((e.clientY / renderer.domElement.height) * 2 - 1) * 2.5;
}

function getClass() {
  if (props.page === "Home") return "three-navbar__home";
  return "three-navbar__side";
}

// initialize a flat plane w/ shader
scene = new Scene();
plane = new PlaneGeometry(2, 2);
let wfGeo = new WireframeGeometry(plane);
let shaderUniforms = {
  iTime: { value: 0.0 },
  iResolution: { value: new Vector3() },
  iRadius: { value: 1.0 },
  iFrame: { value: 0 },
  iMouse: { value: new Vector2() },
};
const sdfMaterial = new ShaderMaterial({
  fragmentShader: origShader,
  uniforms: shaderUniforms,
});
planeMesh = new Mesh(plane, sdfMaterial);
scene.add(planeMesh);

let wireframe = new LineSegments(wfGeo);
wireframe.depthTest = false;
wireframe.material.opacity = 0.0;
wireframe.material.transparent = true;
scene.add(wireframe);

// orthographic camera pointing at plane
const camera = new OrthographicCamera(-1, 1, 1, -1, -1, 1);
camera.position.z = 1;

// normalized mouse pos for shader
let mouse = new Vector2();
let pointerDown = false;

function resizeRendererToDisplaySize(renderer) {
  if (!renderer) return;

  winWidth = canvas.clientWidth;
  winHeight = canvas.clientHeight;

  const needResize = canvas.width !== winWidth || canvas.height !== winHeight;
  if (needResize) {
    renderer.setSize(winWidth, winHeight, false);
    camera.updateProjectionMatrix();
  }
  return needResize;
}

// main loop
function render(time) {
  time *= 0.001; // convert to seconds

  // feed updated values to shader
  shaderUniforms.iResolution.value.set(winWidth, winHeight);
  shaderUniforms.iTime.value = time;
  shaderUniforms.iFrame.value += 1;
  if (pointerDown) shaderUniforms.iMouse.value.set(mouse.x, mouse.y);

  // shrink geometry if on sidebar or small screen
  if (canvas.width < 800) {
    shaderUniforms.iRadius.value = 0.3;
  } else shaderUniforms.iRadius.value = 0.3;

  if (showWireframe.value === true) wireframe.material.opacity = 1.0;
  else wireframe.material.opacity = 0.0;

  if (renderer) {
    resizeRendererToDisplaySize(renderer);
    renderer.render(scene, camera);
  }
  //requestAnimationFrame(render);
}

defineExpose({ showWireframe, render });
</script>

<style>
</style>