<template>
  <Transition name="modal">
    <div v-if="show" class="modal-mask" @click="$emit('close')">
      <div class="image-container" >
        <img  @click="$emit('close')" :src="imgPath" />
      </div>
    </div>
  </Transition>
</template>

<script setup>
const props = defineProps({
  show: Boolean,
  imgPath: String,
});

</script>
