<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ rd.basics.name }} // Resume</title>
    <link rel="stylesheet" href="main.css">
</head>

<body>
    <div id="app"></div>
    <div class="page page__content">
        <div class="resume-wrapper resume-wrapper__PDF">

            <div class="resume-header">
                <h1>{{ rd.basics.name }}<span>&nbsp;// Resume</span></h1>
                <div class="resume-contact-links">
                    <div class="resume-contact-links__col">

                        <a href="{{ rd.basics.url }}"><i class="fa-solid fa-globe"></i>{{
                            rd.basics.url.replace('https://',
                            '') }}</a>
                        <a href="mailto:{{ rd.basics.email }}"><i class="fa-solid fa-envelope"></i>{{ rd.basics.email
                            }}</a>
                    </div>

                    <div class="resume-contact-links__col">
                        <a href="{{ rd.basics.profiles[0].url }}"><i class="fa-solid fa-code-branch"></i>vlfldr</a>
                        <p><i class="fa-solid fa-location-pin"></i>{{ rd.basics.location.address }}</p>


                    </div>
                </div>
            </div>

            <div class="section-title">
                <div class="spacer"></div>
                <h2>Summary</h2>
                <div class="spacer"></div>
            </div>
            <p>{{ rd.basics.summary }}</p>

            <div class="section-title">
                <div class="spacer"></div>
                <h2>Work History</h2>
                <div class="spacer"></div>
            </div>
            <div class="resume-employer resume-employer__lead">
                <h3>Vermont Agency of Digital Services</h3>

                {% for empl in rd.work if empl.name == 'Vermont Agency of Digital Services' %}
                <div class="resume-position">
                    <div class="resume-position__title">{{ empl.position }}<span>{{ empl.startDate[:4] }} - {{
                            empl.endDate[:4] if empl.endDate else 'Present' }}</span></div>
                    <ul class="resume-position__bullets fa-ul">
                        {% for highlight in empl.highlights %}
                        <li><span class="fa-li"><i class="fa-solid fa-caret-right"></i></span>{{ highlight }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endfor %}

            </div>

            <div class="resume-employer">
                <h3>iD Tech Camps</h3>

                {% for empl in rd.work if empl.name == 'iD Tech Camps' %}
                <div class="resume-position">
                    <div class="resume-position__title">{{ empl.position }}<span>{{ empl.startDate[:4] }}</span></div>
                    <ul class="resume-position__bullets fa-ul">
                        {% for highlight in empl.highlights %}
                        <li><span class="fa-li"><i class="fa-solid fa-caret-right"></i></span>{{ highlight }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endfor %}

            </div>

            <div class="resume-skills">
                <div class="section-title">
                    <div class="spacer"></div>
                    <h2>Skills</h2>
                    <div class="spacer"></div>
                </div>

                {% for skill in rd.skills %}
                <div class="resume-skills__label">{{ skill.name }}<span> ({{ skill.level }})</span></div>
                <ul class="resume-skills__bullets fa-ul">

                    <li><span class="fa-li"><i class="fa-solid fa-caret-right"></i></span>{{ ' // '.join(skill.keywords)
                        }}</li>

                </ul>
                {% endfor %}
            </div>

            <div class="resume-education">
                <div class="section-title">
                    <div class="spacer"></div>
                    <h2>Education</h2>
                    <div class="spacer"></div>
                </div>
                <div class="resume-institution">
                    <h3>{{ rd.education[0].institution }}</h3>
                    <div class="resume-institution__title">{{ rd.education[0].studyType }} in {{ rd.education[0].area
                        }}<span>{{ rd.education[0].startDate[:4] }} - {{ rd.education[0].endDate[:4] }}</span></div>
                    <ul class="resume-institution__bullets fa-ul">
                        <li><span class="fa-li"><i class="fa-solid fa-caret-right"></i></span>Curriculum included
                            traditional computer science topics
                            ({{', '.join(rd.education[0].courses[:numCompSciCourses])}})</li>
                        <li><span class="fa-li"><i class="fa-solid fa-caret-right"></i></span>Shifted into more
                            specialized courses in later years
                            ({{', '.join(rd.education[0].courses[numCompSciCourses:])}})</li>
                    </ul>
                </div>
            </div>


        </div>
    </div>
</body>

</html>