
// fade animation

// start state removed once transition begins
.fade-enter-from{
    opacity: 0;
}

// active state (DEFINE TIME HERE)
.fade-move,
.fade-enter-active{
    pointer-events: none;
    transition: all $t_Medium ease-out;
}

// end state
.fade-enter-to{
    opacity: 1;
}

.fade-leave-from{
    //display: none;
    opacity: 1;
}

.fade-leave-active{
    position: absolute;
    transition: all $t_Medium ease-out;
}

.fade-leave-to{
    opacity: 0;
}

// flick left animation
.flick-left-enter-from{
    transform: translateX(100vw);
}
.flick-left-enter-active{
    transition: all $t_Medium ease-in-out;
}
.flick-left-enter-to{
    transform: translateX(0);
}
.flick-left-leave-from{
    transform: translateX(0);
}
.flick-left-leave-active{
    transition: all $t_Medium ease-in-out;
}
.flick-left-leave-to{
    transform: translateX(-100vw);
}

// flick right animation
.flick-right-enter-from{
    transform: translateX(-100vw);
}
.flick-right-enter-active{
    transition: all $t_Medium ease-in-out;
}
.flick-right-enter-to{
    transform: translateX(0);
}
.flick-right-leave-from{
    transform: translateX(0);
}
.flick-right-leave-active{
    transition: all $t_Medium ease-in-out;
}
.flick-right-leave-to{
    transform: translateX(100vw);
}

// flick up animation

.flick-up-enter-from{
    transform: translateY(150vh);
}

// active state (DEFINE TIME HERE)
.flick-up-enter-active{
    transition: all $t_Medium ease-in-out;
}

// end state
.flick-up-enter-to{
    transform: translateY(0);
}

.flick-up-leave-from{
    transform: translateY(0);
}

.flick-up-leave-active{
    transition: all $t_Medium ease-in-out;
}

.flick-up-leave-to{
    transform: translateY(-150vh);
}



// flick down animation

.flick-down-enter-from{
    transform: translateY(-150vh);
}

// active state (DEFINE TIME HERE)
.flick-down-enter-active{
    transition: all $t_Medium ease-in-out;
}

// end state
.flick-down-enter-to{
    transform: translateY(0);
}

.flick-down-leave-from{
    transform: translateY(0);
}

.flick-down-leave-active{
    transition: all $t_Medium ease-in-out;
}

.flick-down-leave-to{
    transform: translateY(150vh);
}


@keyframes pulse {
	0% {
		transform: scale(0.95);
	}

    30% {
		transform: scale(1.4) rotateZ(17deg);
	}

    50% {
        transform: scale(0.9);
    }

	70% {
		transform: scale(1.2) rotateZ(-8deg);
	}

	100% {
		transform: scale(1);
	}
}