.article-wrapper {
    @media(pointer:coarse), (max-width: $mobileBreak) {
        padding: 4rem 2rem;
        padding-top: 10rem;
        min-width: 0;
        max-width: none;
    }

    text-align: left;
    max-width: 90rem;
    min-width: calc(90rem - $sz_Sidebar);
    background-color: $c_DarkBg;
    padding: $p_Large;
    box-shadow: 0 0 18px 6px rgba(#111, .3);
    margin: auto;

    h1 {
        font-family: $font_Title;
        color: $c_Text;
        text-align: center;
    }

    h2 {
        font-family: $font_Header;
        text-decoration: underline;
    }

    h3 {
        font-style: italic;
        font-family: $font_Header;
        text-align: center;
        color: $c_Text;
    }

    // spacing between last element of title and body
    #header {
        margin-bottom: $p_Medium;
    }

    p {
        font-family: $font_Body;
        padding: $p_Small;
        text-indent: $p_Medium;
    }

    a {
        color: $c_Text;

        &:hover {
            color: $c_AltText;
        }
    }

    ul {
        padding: $p_Small $p_Large;
    }

    // image and video wrapper
    figure {
        text-align: center;
        overflow: hidden;
        padding-bottom: .5rem;
        max-width: max-content;
        width: 80%;
        margin: $p_Small auto;
        border-radius: 3px;
        background-color: $c_DarkBg;
        border: 1px solid $c_Bg;

        box-shadow: $shad_Black;

        img,
        video {
            max-width: 100%;
        }

        img {
            cursor:zoom-in;
        }

        figcaption {
            font-size: $fs_Tiny;
            font-style: italic;
        }
    }

    // code blocks styled in _prismjsTheme.scss
}

.article--scaled-img {
    //max-width: 25vw !important;

    @media(pointer:coarse), (max-width: $mobileBreak) {
        max-width: 100% !important;
    }
}

// zoomed images
.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    transition: opacity 0.25s ease;
  }
  
  .image-container {
    
    margin: auto;
    transition: all 0.25s ease;

    img {
        @media(pointer:coarse), (max-width: $mobileBreak) {
            max-width: 100vw;
            max-height: 100vh;
        }
        
        height: auto;
        width: auto;
        max-width: 90vw;
        max-height: 90vh;
        cursor: zoom-out;
    }
  }
  
  .modal-default-button {
    position: fixed;
    top: $p_Medium;
    right: $p_Medium;
    width: 4rem;
    height: 4rem;
    font-size: 2.4rem;
    padding-top: 2px;
  }
  
  
  .modal-enter-from {
    opacity: 0;
  }
  
  .modal-leave-to {
    opacity: 0;
  }
  
  .modal-enter-from .modal-container,
  .modal-leave-to .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

#hire-me {
    margin: 0 $p_Medium;
    margin-top: $p_Small;
    align-self: center;
    text-align: center;
}

.tech-table {
  table-layout: fixed;
  border-collapse: collapse;

    td, th {
        padding: $p_Small 0;
    }

    .odd {
        background: $c_AltBg;
    }

    
}

#table-caption {
    margin-top: $p_Tiny;
}

#image-container {
    display: flex;
    flex-direction: row;
    gap: $p_Medium;
    align-items: center;
}

.horizontal-button-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: $p_Large;
    width: 80%;
    margin: 0 auto;
    margin-top: $p_Medium;

    .btn-normal {
        z-index: 10;
        text-align: center;
        padding: 0.5rem 1rem;
        flex-grow: 1;
        font-family: 'Pridi';
        font-weight: 300;
        box-shadow: 6px 7px 9px -3px rgba(35, 35, 35, 0.64);
    }
}