.page__contact {
    width: 100%;
    height: 100vh;
    overflow: hidden;

    @media (max-width: $mobileBreak), (pointer: coarse) {
        height: calc(100vh - 6rem);
    }
}

.contact-form {
    @media (max-width: $mobileBreak), (pointer: coarse) {
        width: 75%;
        margin-top: 4rem;
        height: 60vh;
    }

    width: 50%;
    height: 50vh;
    margin: auto;
    margin-top: 25vh;
    border: 6px double $c_Bg;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 5px;
    padding: $p_Small;
    background-color: $c_AltBg;
    box-shadow: $shad_Med;

    &__field {
        display: flex;
        margin-bottom: $p_Small;
        overflow:hidden;

        &__label {
            width: 15%;
            min-width: 9rem;
            margin: $p_Tiny $p_Small ;
            font-size: $fs_Medium;
            color: $c_Bg;
            padding: $p_Tiny 0;

            & i {
                margin-right: 15px;
                color: $c_Text;
            }
        }

        input {
            flex-grow: 1;
            border: none;
            border-radius: 0px;
        } 
    }

    input,
    textarea {
        font-size: $fs_Medium;
        background-color: $c_AltBg;
        border: none;
        outline: none;
        border-bottom: 1px solid $c_Bg;
        color: $c_Text;
        padding: .5rem;


        transition: border-color $t_Short ease-in-out;

        &:focus {
            border-bottom: 1px solid $c_AltText;
        }
    }

    .textarea-wrapper {
        flex-grow: 1;
        flex-shrink: 1;
        display: flex;
    }

    textarea {
        flex-grow: 1;
        display: block;
        resize: none;
    }

    &__footer {
        display: flex;
        flex-shrink: 0;
        margin-top: $p_Small;

        button {
            margin: auto;
            cursor: pointer;
            font-family: 'Exo';

            font-size: $fs_Small;
            color: $c_Text;
            height: 2.4rem;
            padding-left: .5rem;
            padding-right: .5rem;
            padding-top: 2px;
            background-color: $c_DarkBg;
            border-radius: 3px;
            box-shadow: none;
            border: 1px solid $c_Bg;
            box-shadow: $shad_Med;

            transition: all $t_Short ease-in-out;

            &:hover {
                background-color: $c_Bg;
                color: $c_DarkBg;
                box-shadow: 8px 10px 12px -1px rgba($c_DarkBg, 0.74);

            }

            &:active {
                transform: translateY(3px);
                box-shadow: 4px 5px 3px -1px rgba($c_DarkBg, 0.74);

            }
        }
    }
}

.contact-form-title {
    margin-bottom: $p_Tiny;
    color: $c_Text;
}

.contact-form-subtitle {
    color: $c_Text;
    margin-bottom: $p_Small;
    font-style: italic;
}

.contact-form-background {
    position: absolute;
    width: 100%;
    height: 100%;

    border-width: 6px;
    border-style: double;

    background-color: $c_AltBg;
    border-radius: 3px;

    box-shadow: $shad_Med;

    &:hover {
        border-color: red;
    }


    &__1 { border-color: $c_AltText; }
    &__3 { border-color: $c_DarkBg; }
    &__2 { border-color: $c_Accent; }
    &__5 { border-color: $c_Bg; }
    &__4 { border-color: $c_Text; }
    &__6 { border-color: $c_AltText;  }
}