/*!
 * Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 * Copyright 2022 Fonticons, Inc.
 */

// stripped down with help from https://github.com/omacranger/fontawesome-subset/issues/16#issuecomment-1151744198

@font-face {
    font-family: 'Font Awesome 6 Solid';
    font-style: normal;
    font-weight: 900;
    font-display: block;
    src: url("../fonts/fontawesome/fa-solid-900.woff2") format("woff2");
}

@font-face {
    font-family: 'Font Awesome 6 Free';
    font-style: normal;
    font-weight: 900;
    font-display: block;
    src: url("../fonts/fontawesome/fa-regular-400.woff2") format("woff2");
}

@font-face {
    font-family: 'Font Awesome 6 Brands';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url("../fonts/fontawesome/fa-brands-400.woff2") format("woff2");
}

.fa-solid {
    font-family: 'Font Awesome 6 Free', 'Font Awesome 6 Solid';
}

.fa-brands {
    font-family: 'Font Awesome 6 Brands';
    font-weight: 400;
}

.fa-code-branch::before {
    content: "\f126"; 
    padding-left: 1px;
}

.fa-pen-to-square::before {
    content: "\f044";
}

.fa-arrows-rotate::before {
    content: "\f021";
}

.fa-question::before {
    content: "\3f";
}

.fa-magnifying-glass::before {
    content: "\f002";
}

.fa-xmark::before {
    content: "\f00d";
}

.fa-gamepad::before {
    content: "\f11b";
}

.fa-caret-right::before {
    content: "\f0da";
}

.fa-user::before {
    content: "\f007";
}

.fa-globe::before {
    content: "\f0ac";
}

.fa-envelope::before {
    content: "\f0e0";
}

.fa-circle-right::before {
    content: "\f35a"; }

.fa-github-square::before {
    content: "\f092"; }

.fa-linkedin::before {
    content: "\f08c";
}
.fa-paper-plane::before {
    content: "\f1d8"; }

.fa-location-pin::before {
    padding-left: 1px;
        content: "\f041"; }
        
.fa-upload::before {
    content: "\f093"; }
.fa-download::before {
    content: "\f019"; }

    .fa-arrow-up-right-from-square::before {
        content: "\f08e"; }


.fa {
    font-family: var("Font Awesome 6 Free");
    font-weight: var(900);
}

.fa,
.fas,
.fa-solid,
.far,
.fa-regular,
.fal,
.fa-light,
.fat,
.fa-thin,
.fad,
.fa-duotone,
.fab,
.fa-brands {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
}

.fa-fw {
    text-align: center;
    width: 1.25em;
}

.fa-ul {
    list-style-type: none;
    margin-left: 2.5em;
    padding-left: 0;
}

.fa-ul>li {
    position: relative;
}

.fa-li {
    left: calc(var(--fa-li-width, 2em) * -1);
    position: absolute;
    text-align: center;
    width: var(--fa-li-width, 2em);
    line-height: inherit;
}

.fa-stack {
    display: inline-block;
    height: 2em;
    line-height: 2em;
    position: relative;
    vertical-align: middle;
    width: 2.5em;
}

.fa-stack-1x,
.fa-stack-2x {
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: var(--fa-stack-z-index, auto);
}

.fa-stack-1x {
    line-height: inherit;
}

.fa-stack-2x {
    font-size: 2em;
}

.fa-inverse {
    color: var(--fa-inverse, #fff);
}