// mobile top navbar
.nav {
  @media (max-width: $mobileBreak), (pointer: coarse) {
    flex-direction: row;
  }

  // normal navbar
  background-color: transparent;
  height: 100vh;
  z-index: 10;

  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  transition: width $t_Long ease-in-out;

  // site title / abbreviation
  & h1 {
    font-family: $font_Title;
    font-size: $fs_Huge;
    letter-spacing: $p_Small;
    text-indent: $p_Small;
    text-align: center;
    color: $c_Text;
    margin: $p_Large;

    white-space: nowrap;
  }

  // page links
  & a {
    font-family: $font_Header;
    font-weight: $fw_Thin;
    box-shadow: $shad_Light;
  }

  & .router-link-exact-active {
    color: $c_AltText;
  }
}

// mobile top navbar
.nav__side {
  @media (max-width: $mobileBreak), (pointer: coarse) {
    transition: none;
    width: 100%;
    height: 6rem;
    background-color: $c_AltBg;
    gap: $p_Small;
    justify-content: flex-end;
    box-shadow: 0px 8px 6px 0px rgba(0.5, 0.5, 0.5, 0.2);

    .btn-submenu {
      display: none;
    }

    & a {
      margin: 0 !important;
      width: 8rem !important;
      font-size: $fs_Small !important;
      padding: 0 !important;

      &:nth-last-child(2) {
        margin-right: $p_Medium !important;
      }
    }

    & h1 {
      font-size: $fs_Large;
      letter-spacing: normal;
      margin: 0 auto !important;
    }
  }

  // desktop side navbar
  width: $sz_Sidebar;
  height: 100vh;
  position: sticky;
  top: 0;
  float: left;
  border-right: 1px solid $c_Bg;

  & a {
    width: 24rem;
    font-size: $fs_Medium;
    padding: $p_Tiny;
    transition: all $t_Medium ease-in-out;

    &:not(&:last-child) {
      margin-bottom: $p_Medium;
    }
    z-index: 23;
  }

  .btn-submenu {
    width: 22rem;
    z-index: 22;
    font-size: $fs_Tiny !important;
  }
}

// homepage-only styles
.nav__home {
  padding: $p_Medium;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;

  // homepage links
  & a {
    width: 40rem;
    max-width: 80vw;
    margin-bottom: $p_Medium;
    padding: $p_Tiny;
    font-size: $fs_Large;
    border-radius: 3px;
    z-index: 23;

    // transition: color $t_Medium ease-out,
    //             border $t_Medium ease-out,
    //             box-shadow $t_Medium ease-out;

    &:hover {
      box-shadow: $shad_Heavy;
      border: 1px solid $c_Bg;
    }

    &:active {
      box-shadow: $shad_Clicked;
    }
  }

  & .btn-submenu {
    width: 32rem;
    z-index: 22;
  }
}

// raymarching hint panel
.nav__hint {
  @media (max-width: $mobileBreak), (pointer: coarse) {
    right: auto;
    left: auto;
  }

  display: flex;
  align-items: center;
  flex-direction: column;
  position: fixed;
  bottom: $p_Small;
  left: $p_Small;
  width: fit-content;
  width: $sz_Sidebar;

  // transition to sidebar
  transition: all $t_Long ease-in-out;

  & code {
    color: $c_Text;
    background-color: $c_DarkBg;
    font-size: $fs_Tiny;
    width: 80%;
    border-radius: 0.3rem;
    padding: 0.75rem 1rem;
    cursor: default;
    text-align: left;

    span {
      color: $c_Fg;
    }
  }

  & .router-link-exact-active {
    color: $c_Text;
  }

  .nav__hint--link {
    font-size: $fs_Small;
    display: flex;
    align-items: center;
    width: fit-content;
    height: 1.4rem;
    margin: 0;
    box-shadow: none;
    padding: 0.5rem 1rem;
    padding-right: 0.6rem;
    margin-top: $p_Small;
    box-shadow: $shad_Light;

    & i {
      padding-left: 0.5rem;
    }
  }

  &__sidebar {
    @media (max-width: $mobileBreak), (pointer: coarse) {
      display: none;
    }
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
  }
}
