/**
 * prism.js Dark theme for JavaScript, CSS and HTML
 * Based on the slides of the talk “/Reg(exp){2}lained/”
 * @author Lea Verou
 */

 code[class*="language-"],
 pre[class*="language-"] {
   color: $c_Fg;
   background: none;
   text-shadow: none;
   font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
   text-align: left;
   white-space: pre;
   word-spacing: normal;
   word-break: normal;
   word-wrap: normal;
   line-height: 1.5;
 
   -moz-tab-size: 4;
   -o-tab-size: 4;
   tab-size: 4;
 
   -webkit-hyphens: none;
   -moz-hyphens: none;
   -ms-hyphens: none;
   hyphens: none;
 }

 // single lines of code
 code { 
  padding: 0 3px; 
  max-width: 100%;
}

 // code blocks
 pre {
     background-color: $c_DarkBg;
     padding: $p_Small 1.5rem;
     line-height: 150%;
     border-radius: 3px;
     border: 1px solid $c_Bg;
     max-width: min-content;
     overflow-y: scroll;

     margin: $p_Small auto;

     box-shadow: $shad_Black;

     & code {
         padding: 0;
     }
 }
 
 .token.comment,
 .token.prolog,
 .token.doctype,
 .token.cdata {
   color: $c_Bg;
 }
 
 .token.property,
 .token.tag,
 .token.boolean,
 .token.number,
 .token.constant,
 .token.symbol {
   color: $c_Accent;
 }
 
 .token.selector,
 .token.attr-name,
 .token.string,
 .token.char,
 .token.builtin,
 .token.inserted {
   color: $c_AltText;
 }
 
 .token.operator,
 .token.entity,
 .token.url,
 .language-css .token.string,
 .style .token.string,
 .token.variable {
   color: $c_Fg;
 }
 
 .token.attr-value {
  color: $c_Fg;
 }

 .token.atrule,
 .token.keyword {
   color: $c_Text;
 }
 
 .token.regex,
 .token.important {
   color: $c_AltText;
 }
 
 .token.important,
 .token.bold {
   font-weight: bold;
 }
 .token.italic {
   font-style: italic;
 }
 
 .token.entity {
   cursor: help;
 }
 
 .token.deleted {
   color: red;
 }
 