// page container
.projects-page {
    display: flex;
    flex-direction: column;
    width: calc(100% - 7rem);
    margin: auto;
    
    padding: 3rem 0;
    row-gap: 3rem;

    @media (max-width: $mobileBreak), (pointer: coarse) {
        padding: 0;
        row-gap: 0;
        width: 100%;
        padding-bottom: 3rem;
    }
    }

// alignment within page
.project-container {
    @media (max-width: $mobileBreak), (pointer: coarse) {
        flex-direction: column;

        .project {
            width: 80%;
            min-height: 18rem;
            flex-direction: row-reverse;

            &--image-container {
                float: right;
                margin-left: $p_Small;
                padding: $p_Small;
                max-height: 12rem !important;

                img {
                    max-height: 11rem !important;
                    width: auto;
                    height: auto;
                }
                //display: none;
            }

            &--details {
                margin-left: 0;
            }
        }

        .project-label {
            margin: $p_Medium;
        }
    }
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

// individual project
.project {
    background-color: $c_AltBg;
    padding: $p_Medium;
    border-radius: 3px;
    border: 1px solid $c_Bg;
    display: flex;
    text-align: left;
    box-shadow: $shad_Med;
    position: relative;
    align-items: stretch;
    width: 60%;

    //height: min-content;
    align-self: center;

    &--image-container {
        background-color: $c_DarkBg;
        border-radius: 3px;
        padding: $p_Medium;
        border: 1px solid $c_Bg;
        height: min-content;
        box-shadow: $shad_Light;  
        margin: auto 0;

        img {
            display: block;   
            border-radius: 3px;
            max-width: 20vw;
            width: 40rem;
        }
    }

    &--details {
        margin-left: $p_Medium;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        // &__summary { }
        
        &__techstack {
            list-style: none;
            padding: 0;
            margin: 0;
            margin-top: $p_Medium;

            margin-left: $p_Medium;
        
            li {
                padding-left: 0;
                &::before {
                    color: $c_AltText;
                    font-size: 18px;
                    content: "> ";
                }
            }
        }

        &__links {
            @media (max-width: $mobileBreak), (pointer: coarse) {
                position: absolute;
                bottom: $p_Medium;
                right: $p_Medium;
            }

            margin-top: auto;
            padding-top: $p_Medium;
            display: flex;
            justify-content: flex-end;
            gap: $p_Medium;
            
            a {
                @media (max-width: $mobileBreak), (pointer: coarse) {
                    font-size: $fs_Small;
                }
                font-size: $fs_Small;
                padding: $p_Tiny $p_Small;
            }
        }
    }
}

.project-label {
    @media (max-width: $mobileBreak), (pointer: coarse) {
        max-width: 80vw;
        font-size: $fs_Small;
    }
    max-width: 20%;
    color: $c_Text;
    font-size: $fs_Medium;
    font-family: 'Pridi';
    margin: auto;
    position: relative;
}