//                  ,,             ,,                                             
//      `7MM"""Mq.`7MM             db              mm                       mm    
//        MM   `MM. MM                             MM                       MM    
//        MM   ,M9  MM   ,6"Yb.  `7MM  `7MMpMMMb.mmMMmm .gP"Ya `7M'   `MF'mmMMmm  
//        MMmmdM9   MM  8)   MM    MM    MM    MM  MM  ,M'   Yb  `VA ,V'    MM    
//        MM        MM   ,pm9MM    MM    MM    MM  MM  8M""""""    XMX      MM    
//        MM        MM  8M   MM    MM    MM    MM  MM  YM.    ,  ,V' VA.    MM    
//      .JMML.    .JMML.`Moo9^Yo..JMML..JMML  JMML.`Mbmo`Mbmmd'.AM.   .MA.  `Mbmo 

#pdf-embed {
    width: 100%;
    height: 100vh;
}

.resume-wrapper {
    @media (max-width: $mobileBreak), (pointer: coarse) {
        width: calc(100% - 8rem);
        padding-top: 10rem !important;
    }
    
    text-align: left;
    padding-top: $p_Small;
    width: 70rem;
    max-width: 840px;
    margin: 0 auto;
    background-color: whitesmoke;
    box-shadow: $shad_Med;
    min-height: 100vh;
    padding: $p_Large;
    color: $c_DarkBg;

    // style for rendering to PDF
    &__PDF {
        width: 90%;
        box-shadow: none;
    }

    // title & links
    & .resume-header {
        display: flex;
        align-items: center;

        & h1 {
            @media (max-width: $mobileBreak), (pointer: coarse) {
                font-size: $fs_Large;
            }
            text-align: center;
            font-family: $font_Header;
            font-weight: 400;
            margin-top: -8px;
            & span {
                color: $c_Bg;
                display: inline-block;
            }
        }

        & .resume-contact-links {
            margin-left: auto;
            display: flex;
            
            @media (max-width: $mobileBreak), (pointer: coarse) {
                flex-direction: column;

                row-gap: .75rem;
            }

            &__col {
                display: flex;
                flex-direction: column;
                margin-left: 1rem;
            }
            
            & i {
                font-size: $fs_Medium;
                margin-right: .5rem;
                width: $fs_Medium;
                color: $c_Bg;
            }
            & a {
                display: flex;
                align-items: center;
                text-decoration: none;

                &:first-child {
                    margin-bottom: .5rem;
                }

                color: $c_DarkBg;
            }
        }
    }

    // bullet points
    & .fa-li {
        color: $c_Bg;
    }
    

    & .section-title {
        display: flex;
        align-items: center;

        & .spacer {
            border-bottom: 1px solid $c_DarkBg;
            flex-grow: 1;
        }
        
        & h2 {
            text-align: center;
            color: $c_Bg !important;
            margin: $p_Tiny $p_Small;
            background-color: whitesmoke;
        }
    }

    

    // parent sections
    & .resume-employer,
    & .resume-education {

        &__lead {
            margin-bottom: 2.5rem;
        }
        
        h3 {
            font-weight: 450;
        }
    }

    // sub-sections
    & .resume-position,
    & .resume-institution,
    & .resume-skills {
        &__title,
        &__label {
            font-weight: bold;
            margin: $p_Tiny 0;
        }

        &:not(:last-child) {
            margin-bottom: 1.5rem;
        }

        & ul {
            margin: 0 $p_Medium;

            & li {
                margin-top: 5px;
            }

        }

        span {
            font-style: italic;
            font-weight: 500;
            float: right;
        }
    }

    & .resume-skills__info {
        font-weight: bold;
    }

    & .resume-skills,
    & .resume-education {
        margin: 0 !important;
        padding: 0 !important;
    }
}                                                                          


//        .g8"""bgd                                    
//      .dP'     `M                                    
//      dM'       `  ,6"Yb.  `7MMpMMMb.pMMMb.  .gP"Ya  
//      MM          8)   MM    MM    MM    MM ,M'   Yb 
//      MM.    `7MMF',pm9MM    MM    MM    MM 8M"""""" 
//      `Mb.     MM 8M   MM    MM    MM    MM YM.    , 
//        `"bmmmdPY `Moo9^Yo..JMML  JMML  JMML.`Mbmmd' 


#resume-game-wrapper {
    position: relative;
    top: 0;
    right: 0;

    width: 100%;
    height: 100vh;

    overflow: hidden;
}

#game-canvas,
#background-canvas {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
        
    max-height: 100vh;

    width: 100%;
    height: auto;

    image-rendering: pixelated;
}

#background-canvas {
    width: 200%;

    max-height: none;
}


@media (pointer:coarse) and (orientation: landscape) {
    #controls-canvas {
        left: 0 !important;
        width: 100vw !important;
    }

    .sidebar {
        visibility: hidden;
        width: 0;
    }

    #game-canvas,
    #background-canvas {
        width: auto;
        height: 100vh;
    }
}

#controls-canvas {
    margin: 0;
    padding: 0;
    position: absolute;
    width: calc(100% - $sz_Sidebar);
    left: $sz_Sidebar;
    image-rendering: pixelated;
    touch-action: none;
    z-index: 99;
}


#palette-canvas {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: $sz_Sidebar;
    height: 100%;

    image-rendering: pixelated;
}


//      `7MMM.     ,MMF'                             
//        MMMb    dPMM                               
//        M YM   ,M MM  .gP"Ya `7MMpMMMb.`7MM  `7MM  
//        M  Mb  M' MM ,M'   Yb  MM    MM  MM    MM  
//        M  YM.P'  MM 8M""""""  MM    MM  MM    MM  
//        M  `YM'   MM YM.    ,  MM    MM  MM    MM  
//      .JML. `'  .JMML.`Mbmmd'.JMML  JMML.`Mbod"YML.


.resume-game__menu {
    position: fixed;
    top: $p_Small;
    left: calc($sz_Sidebar + $p_Small + 2px);
    //width: $sz_Sidebar;
    height: 2.4rem;
    padding: $p_Tiny;
    background-color: $c_DarkBg;
    z-index: 30;

    display: flex;
    justify-content: space-around;
    gap: $p_Tiny;
    //align-items: center;
    border-radius: 3px;

    border: 1px solid $c_Bg;

    button {
        width: 2.2rem;
        height: 2.2rem;
        border: 1px solid $c_Bg;
        border-radius: 3px;
        background-color: $c_Text;
        transition: all $t_Short ease-in-out;
        cursor: pointer;
        position: relative;
        z-index: 31;

        &:last-child {
            &:not(:first-child) {
                background-color: $c_AltText;
            }
        }

        &:hover {
            background-color: $c_AltText;
            transform: scale(1.1);
        }

        a {
            position: absolute;
            height: 2.2rem;
            width: 2.2rem;
            left: 0;
            top: 0;
        }
    }

    opacity: 50%;


    transition:  all $t_Short ease-in-out;

    &__expanded {
        height: 4.0rem;
        opacity: 100%;
        box-shadow: $shad_Light;

        span {
            position: absolute;
            font-weight: bold;
            transition: opacity 1s ease-in-out;
            opacity: 1;
            bottom: 1px;
        }
    }

    &__wide {
        height: 2.4rem;
        padding-right: 14.2rem;
        opacity: 100%;
        box-shadow: $shad_Light;
        overflow: hidden;

        span {
            position: absolute;
            transform-origin: center left;
            left: 2rem;
            top: .8rem;
            width: 16rem;
            font-weight: bold;
            transition: opacity 1s ease-in-out;
            opacity: 1;
            bottom: 1px;
        }
        //width: 10rem;
    }
}