// canvas
.three-navbar
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    height: 100%;
    z-index: -10;
    transition: width $t_Long ease-in-out;

    &__home {
        width: 100%;
    }

    &__side {
        @media (max-width: $mobileBreak), (pointer: coarse) {
            // height: 10rem;
            // left: auto;
            // right: 0;
            display: none;
        }
        width: calc($sz_Sidebar + 3px);
    }
}

// mobile/desktop only
.mobile-only {
    display: none;

    @media (max-width: $mobileBreak), (pointer: coarse) {
        display: revert;
    }
}

.desktop-only {
    display: revert;
    
    @media (max-width: $mobileBreak), (pointer: coarse) {
        display: none;
    }
}

// disable selection
.no-select {
    user-select: none; 
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
}

.btn-submenu {
    font-size: $fs_Small !important;

    border-radius: 0 !important;
    margin: 0 !important;
    border-bottom: none !important;

    &-first {
        border-top-left-radius: 3px !important;
        border-top-right-radius: 3px !important;
        margin-top: calc(-2rem - 2px) !important;
        padding-top: calc(.5rem + 2px) !important;
    }

    &-last {
        border-bottom: 1px solid $c_Bg !important;
        margin-bottom: $p_Medium !important;
        border-bottom-left-radius: 3px !important;
        border-bottom-right-radius: 3px !important;
    }
}

// most buttons
.btn-normal {
    cursor: pointer;

    font-size: $fs_Medium;
    color: $c_Text;
    background-color: $c_DarkBg;
    border-radius: 3px;
    box-shadow: none;
    border: 1px solid $c_Bg;
    box-shadow: $shad_Light;
    font-family: 'Pridi';
    font-weight: 300;

    transition: all $t_Short ease-in-out;

    @media (hover: hover) {
    &:hover {
        background-color: $c_Bg;
        color: $c_DarkBg !important;
        transform: translateY(-1px);
        box-shadow: 6px 8px 9px -1px rgba($c_DarkBg, 0.74);
    }
}

    &:active {
        
        transform: translateY(2px);
        box-shadow: 4px 5px 3px -1px rgba($c_DarkBg, 0.74);
    }
}

// scroll to top button in bottom right
.to-top-btn {
    position: fixed;
    bottom: 2rem;
    right: 2rem;

    font-size: $fs_Large;
    color: $c_Text;
    width: 4rem;
    height: 4rem;

    &--icon {
        transform: rotate(-90deg);
        margin-top: 1px;
    }
}

// notifications
.vue-notification {
    // styling
    margin: 0;
    margin-top: $p_Small;
    margin-right: $p_Small;
    padding: 10px;
    font-size: $fs_Small;
    color: $c_AltBg;
  
    // default
    background: #44a4fc;
    border-left: 5px solid $c_Bg !important;
    border-radius: 3px;
  
    &.success {
      background: $c_Text;
    }
  
    &.warn {
      background: $c_AltText;
    }
  
    &.error {
      background: $c_AltText;
      border-left: 5px solid $c_Accent !important;
    }
  }