// fonts
@font-face {
    font-family: 'Anonymous';
    src: url('../fonts/AnonymousPro.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Pridi';
    src: url('../fonts/Pridi.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Exo';
    src: url('../fonts/Exo_Variable.ttf') format('truetype-variations');
    font-weight: 100 900;
    font-display: swap;
}

// font settings
$font_Title: 'Anonymous';
$font_Header: 'Pridi';
$font_Body: 'Exo';

// magic numbers
$sz_Sidebar: 32rem;

// font weights
$fw_Thinner: 100;
$fw_Thin: 300;
$fw_Normal: 400;
$fw_Bold: 700;
$fw_Bolder: 900;

// font sizes
$fs_Tiny: 1.2rem;
$fs_Small: 1.4rem;
$fs_Medium: 1.8rem;
$fs_Large: 2.3rem;
$fs_Huge: 7rem;

// padding sizes
$p_Tiny: .5rem;
$p_Small: 1rem;
$p_Medium: 2rem;
$p_Large: 4rem;

// animation times
$t_Shorter: .15s;
$t_Short: .25s;
$t_Medium: .4s;
$t_Long: 1.0s;
$t_Longer: 1.5s;

// colors
// https://coolors.co/ef476f-ffd166-06d6a0-118ab2-073b4c
$c_DarkBg: #232323;
$c_Bg: #118ab2;
$c_Fg: #E8E1EF;
$c_AltBg: #073b4c;
$c_Text: #06d6a0;
$c_AltText: #ffd166;
$c_Accent: #ef476f;

// shadows
$shad_Med: 8px 10px 8px -1px rgba($c_DarkBg, 0.64);
$shad_Light: 6px 7px 9px -3px rgba($c_DarkBg, 0.64);
$shad_Heavy: 8px 10px 8px -1px rgba($c_DarkBg, 0.64);
$shad_Clicked: 3px 4px 3px -1px rgba($c_DarkBg, 0.64);
$shad_Hover: 8px 10px 13px -7px rgba($c_DarkBg, 0.64);
$shad_Black: 6px 7px 6px -1px rgba(#111, .2);

// mobile layout
$mobileBreak: 980px;