<template>
  <NavBar ref="navBar" :navTitle="navTitle" :page="$route.name" />
  <router-view class="page" v-slot="{ Component }">
    <transition :name="transitionType" mode="out-in">
      <component ref="currentPage" :is="Component" />
    </transition>
  </router-view>
  <notifications position="top right" :ignoreDuplicates="true" />
</template>

<script setup>
import { ref, watch } from "vue";
import { useRoute } from "vue-router";
import NavBar from "@/components/NavBar.vue";

const navBar = ref(null);
const currentPage = ref(null);
let route = useRoute();

/////////////////  Render Loop //////////////////////////

function render(time) {
  // lock to 60 FPS
  setTimeout(() => {
    window.requestAnimationFrame(render);
  }, 1000 / 60);

  if (navBar.value) {
    navBar.value.threeNavbar.render(time);
  }

  // if (
  //   route.name === "Resume" &&
  //   currentPage.value &&
  //   currentPage.value.gameEnabled
  // ) {
  //   currentPage.value.resumeGame.render(time);
  // }
}

/////////////////  Page Transitions ////////////////////

let pageOrder = [
  "/",
  "/resume",
  "/projects",
  "/contact",
  "/projects/ucourse",
  "/projects/mycodiaries",
  "/projects/wayland-hyprland",
  "/projects/platformer",
  "/projects/raymarching",
];

let transitionType = ref("flick-down");
let navTitle = ref("vlfldr");
let fullTitle = navTitle.value;
let timerHandle = -1;

// handle page change
watch(
  () => route.path,
  async (to, from) => {
    if (to.includes("/projects/")) document.title = "vlfldr";
    else document.title = "vlfldr :: " + (to.substring(1) || "home");

    //do not transition on initial page load
    if (from === null) {
      if (to != "/") navTitle.value = "v";
      return;
    }

    // change transition depending on navigation order
    if (pageOrder.indexOf(to) > pageOrder.indexOf(from)) {
      transitionType.value = "flick-up";
    } else transitionType.value = "flick-down";

    // entering homepage
    if (to === "/") {
      beginShorteningTitle(true); // true = invert animation (lengthen)
      transitionType.value = "flick-right";
    }
    // leaving homepage
    if (from === "/" && from !== to) {
      beginShorteningTitle();
      transitionType.value = "flick-left";
    }
  },
  { immediate: true }
);

// trigger shorten/grow title animation @ one char every 150ms
function beginShorteningTitle(invert = false) {
  clearInterval(timerHandle);

  if (invert) timerHandle = setInterval(addTitleChar, 150);
  else timerHandle = setInterval(deleteTitleChar, 150);
}

function deleteTitleChar() {
  navTitle.value = navTitle.value.slice(0, -1);
  if (navTitle.value.length == 1) clearInterval(timerHandle);
}

function addTitleChar() {
  navTitle.value += fullTitle.substring(
    navTitle.value.length,
    navTitle.value.length + 1
  );
  if (navTitle.value === fullTitle) clearInterval(timerHandle);
}

/////////////////  Entrypoint ///////////////////////

window.requestAnimationFrame(render);
</script>
