<template>
    <div class="page__content">
      <button
        @click="scrollTop()"
        title="Back to top"
        class="btn-normal to-top-btn"
      >
        <i class="to-top-btn--icon fa-solid fa-circle-right"></i>
      </button>
  
      <div class="article-wrapper">
        <h1>MycoDiaries</h1>
      </div>
    </div>
  </template>
    
    <script setup>
  function scrollTop() {
    document.documentElement.scrollTop = 0;
  }
  </script>
    