<template>
  <div class="page__content">
    <button
      @click="scrollTop()"
      title="Back to top"
      class="btn-normal to-top-btn"
    >
      <i class="to-top-btn--icon fa-solid fa-circle-right"></i>
    </button>
    <Teleport to="body">
      <ZoomedImage
        :show="showModal"
        :imgPath="modalImg"
        @close="showModal = false"
      />
    </Teleport>

    <div class="article-wrapper">
      <h1 id="rolling-your-own-wayland-desktop-environment">
        Setting up a Tiling Wayland Desktop Environment
      </h1>
      <h3 id="header">Part 1 - Introduction and Hyprland</h3>
      <p>
        *nix desktop customization - colloquially referred to as
        <b>ricing</b> - is more of a hobby than a necessity. Some would argue
        it's a waste of time, but those who enjoy the process see it as more of
        a manifestation of GNU/Linux spirit: hacking and tinkering because it's
        fun. This series of articles will walk through configuring programs one
        by one to build up a custom desktop environment based around the
        <a href="https://wayland.freedesktop.org/">Wayland protocol</a>. In this
        first article we’ll cover Wayland compositors and walk through a
        finished
        <a href="https://github.com/hyprwm/Hyprland">Hyprland</a> configuration
        file.
      </p>
      <p>
        You can copy everything line-by-line if you wish, but the goal here is
        more to shine light on the process in general and provide solid
        foundations to build from. Don't worry too much about anything that
        isn't fully explained here - it'll all start to gel as the series of
        articles progresses. Finished configuration files and scripts are
        located
        <a href="https://codeberg.org/vlfldr/dotfiles-wayland">here</a> for your
        convenience. Alright, let’s go!
      </p>
      <figure>
        <img
          @click="zoomImage('https://ik.imagekit.io/vlfldr/desktop_2.png')"
          src="https://ik.imagekit.io/vlfldr/tr:w-720/desktop_2.png"
          alt="The finished product"
        />
        <figcaption aria-hidden="true">The finished product</figcaption>
      </figure>
      <h2 id="in-this-series">In This Series</h2>
      <ul>
        <li><strong>Part 1 - Introduction and Hyprland</strong></li>
        <li>Part 2 - Configuration Tracking and Packaging</li>
        <li>Part 3 - Eww</li>
        <li>Part 4 - Other Applications</li>
      </ul>
      <h2 id="picking-a-distro">Picking a Distro</h2>
      <p>
        While not as important as subsequent steps, it is important to consider
        the distro a custom desktop environment (or <b>rice</b>) will be running
        on. Rolling release distros such as Arch or Fedora are usually preferred
        over something more stable due to the formers' always-up-to-date
        packages. Another big advantage of Arch is the AUR, a user-maintained
        repository which boasts an unparalleled number of with plenty of obscure
        ricing tools.
      </p>
      <p>
        Fedora is another great pick: it has bleeding-edge packages, a large
        community, and COPR (Community Projects) repositories. Fedora's killer
        feature with regards to this project is its first-class support for my
        <a href="https://frame.work/">Framework</a> laptop - the hardware this
        setup will be running on. I will be using the
        <strong>Fedora 38 KDE</strong> spin as the base of this rice simply
        because I prefer KDE over Gnome (Fedora's default). We could also choose
        to not install any desktop environment at this point, but it's nice to
        have a graphical session to perform initial setup and fail over to if
        necessary.
      </p>
      <figure>
        <img
          loading="lazy"
          @click="
            zoomImage('https://ik.imagekit.io/vlfldr/fedora_kde_stock.jpg')
          "
          src="https://ik.imagekit.io/vlfldr/tr:w-720/fedora_kde_stock.jpg"
          alt="Fedora 38 KDE default desktop"
        />
        <figcaption aria-hidden="true">
          Fedora 38 KDE default desktop
        </figcaption>
      </figure>
      <p>
        Keep in mind that distro choice is not terribly important. Don’t waste
        too much time here - when in doubt, pick what you are most comfortable
        with.
      </p>
      <h2 id="picking-a-compositor">Picking a Compositor</h2>
      <p>
        Unlike X11, Wayland window managers double as compositors. Or more
        accurately Wayland compositors double as window managers. If you prefer
        stacking windows - the default behavior on Windows and OS X - KDE,
        Enlightenment, and GNOME Mutter all support Wayland. But the bread and
        butter of ricing enthusiasts is the
        <a href="https://en.wikipedia.org/wiki/Tiling_window_manager"
          >tiling window manager</a
        >:
      </p>
      <figure style="margin-left: 5vw">
        <img
          loading="lazy"
          @click="zoomImage('https://ik.imagekit.io/vlfldr/dwm.jpg')"
          class="article--scaled-img"
          src="https://ik.imagekit.io/vlfldr/tr:w-480/dwm.jpg"
        />
        <figcaption aria-hidden="true">
          <a href="https://dwm.suckless.org/">dwm</a> is a no-frills tiling
          window manager for purists
        </figcaption>
      </figure>
      <figure style="margin-right: 5vw">
        <img
          loading="lazy"
          @click="zoomImage('https://ik.imagekit.io/vlfldr/bspwm.png')"
          class="article--scaled-img"
          src="https://ik.imagekit.io/vlfldr/tr:w-480/i3.png"
        />
        <figcaption aria-hidden="true">
          One of the most popular and well documented TWMs:
          <a href="https://i3wm.org/">i3</a>
        </figcaption>
      </figure>
      <figure style="margin-left: 5vw">
        <img
          loading="lazy"
          @click="zoomImage('https://ik.imagekit.io/vlfldr/bspwm.png')"
          class="article--scaled-img"
          src="https://ik.imagekit.io/vlfldr/tr:w-480/bspwm.png"
        />
        <figcaption aria-hidden="true">
          <a href="https://github.com/baskerville/bspwm">bspwm</a> represents
          windows as the leaves of a binary tree
        </figcaption>
      </figure>
      <p>
        “Tiling” refers to the way new windows are laid out. Instead of
        <em>floating</em> behind one another like in Windows, OS X, or KDE, each
        window is <em>tiled</em> into position to maximize screen real estate.
        There is a bit of a learning curve due to TWMs’ heavy reliance on
        keyboard shortcuts, but once you get things set up to your liking they
        can be surprisingly comfortable and efficient.
      </p>
      <p>
        Unfortunately most tiling window managers are built on X11 and
        incompatible with the Wayland protocol. The Linux community has been
        slow to adopt Wayland - and for good reason, but that’s a holy war we
        won’t get into right now - so there are fewer options to choose from. I
        looked at:
      </p>
      <ul>
        <li>
          <a href="https://github.com/swaywm/sway">Sway</a>
          <ul>
            <li>Most active development, largest community</li>
            <li>Drop-in replacement for i3</li>
            <li>
              Developed by authors of
              <a href="https://gitlab.freedesktop.org/wlroots/wlroots"
                >wlroots</a
              >
              whom are also core Wayland contributors
            </li>
            <li>Does not offer advanced compositing features</li>
          </ul>
        </li>
        <li>
          <a href="https://github.com/qtile/qtile">Qtile</a>
          <ul>
            <li>Configuration in python</li>
            <li>Wayland support is not feature-complete</li>
            <li>Does not offer advanced compositing features</li>
          </ul>
        </li>
        <li>
          <a href="https://github.com/riverwm/river">River</a>
          <ul>
            <li>Configuration is a shell script</li>
            <li>Barebones documentation</li>
            <li>Does not offer advanced compositing features</li>
          </ul>
        </li>
      </ul>
      <p>
        You may be noticing a trend at this point. “Advanced compositing
        features” such as animations, transparency, shadows, blur, and rounded
        corners are the reason
        <a href="https://wiki.archlinux.org/title/Picom">picom</a> - the defacto
        ricer X11 compositor - has dozens of confusing forks to choose from:
      </p>
      <figure>
        <img
          loading="lazy"
          @click="zoomImage('https://ik.imagekit.io/vlfldr/picom.png')"
          src="https://ik.imagekit.io/vlfldr/tr:w-420/picom.png"
          alt="A selection of picom forks available from the AUR"
        />
        <figcaption aria-hidden="true">
          A selection of picom forks available from the AUR
        </figcaption>
      </figure>
      <p>
        To make matters worse, some of these forks have incompatible
        configuration options and backends. Maybe the new fork will fix one
        effect, but then there’s a different problem with <em>that</em> effect
        on <em>this</em> backend, better tweak the settings to make sure… Wait,
        have we tried the glx-xrender-hybrid backend on picom-jonaburg-<em
          >fix</em
        >
        yet? Or was that on picom-pijulius-git? Oh, that line in the config file
        breaks this fork, gotta go edit it again... It’s a great time. My trusty
        Thinkpad just so happened to have the correct combination of GPU, CPU,
        kernel, drivers, fork, alignment of Neptune during RAM insertion, etc
        and all aforementioned features worked in harmony. I was not so lucky
        with the Framework and am a bit salty about it.
      </p>
      <figure>
        <video src="/hyprland/salt.mp4" loop controls="">
          <a href="/hyprland/salt.mp4"
            >Actual footage of Linux user trapped in Picom Fork Caverns</a
          >
        </video>
        <figcaption aria-hidden="true">
          Actual footage of Linux user trapped in <em>Picom Fork Caverns</em>
        </figcaption>
      </figure>
      <p>
        Sorry… Back to comparing Sway vs River vs Qtile for our compositor. Sway
        and River are focused on efficiency, stability, and relative simplicity.
        Qtile is primarily an X11 window manager and therefore its Wayland
        implementation does not focus much on compositing. The pickings are
        slim, but there’s one compositor we haven’t talked about yet: Hyprland.
      </p>
      <h2 id="hyprland">Hyprland</h2>
      <p>
        The first words on
        <a href="https://github.com/hyprwm/Hyprland">Hyprland</a>’s GitHub page:
      </p>
      <figure style="padding: 1rem">
        <code
          >Hyprland is a dynamic tiling Wayland compositor based on wlroots that
          doesn&#39;t sacrifice on its looks.</code
        >
      </figure>
      <p>
        <em>That doesn’t sacrifice on its looks</em>. Promising. Perhaps even
        promising enough to spend dozens of hours customizing for no discernable
        reason.
      </p>
      <p>
        Seriously though, Hyprland is a fantastic compositor. It supports all
        the features in the above jumble of Picom forks - animations,
        transparency, blur, shadows, and rounded edges - out of the box on
        Wayland. There’s also a wiki for documentation and the developers are
        very responsive. The compositor decision may have been tougher if
        stability or efficiency was our top priority, but Hyprland is the
        obvious choice for this project.
      </p>
      <figure>
        <img
          loading="lazy"
          @click="zoomImage('https://ik.imagekit.io/vlfldr/hyprland_stock.png')"
          src="https://ik.imagekit.io/vlfldr/tr:w-600/hyprland_stock.png"
          alt="The default Hyprland wallpaper"
        />
        <figcaption aria-hidden="true">
          The default Hyprland wallpaper
        </figcaption>
      </figure>
      <p>
        Pretty boring out of the box - not even a bar included! Let’s dive into
        the heart of the rice and build up our Hyprland config file.
      </p>
      <h2 id="hyprland.conf">hyprland.conf</h2>
      <p>
        Time to get into the nitty-gritty and explain each section of this
        rice’s
        <code>.config/hypr/hyprland.conf</code>. Hyprland will automatically
        create this file on first run for you to start tweaking. While no two
        configurations are identical, hopefully some principles discussed will
        be helpful. Starting from the top:
      </p>
      <pre><code class="lang-ini"># laptop screen - 150% scaling; 45px margin at top for statusbar
monitor = 'eDP-1', preferred, auto, 1.5
monitor = 'eDP-1', addreserved, 45, 0, 0, 0</code></pre>
      <p>
        eDP-1 is the name of the laptop’s primary monitor, obtained via
        <code>hyprctl monitors</code>. If you do a lot of hot plugging,
        <code>monitor=, preferred, auto, 1</code> will automatically lay out any
        detected monitor at its preferred resolution.
      </p>
      <pre><code class="lang-ini"># set cursor theme
exec-once = hyprctl setcursor Gruvbox 32
# wallpaper slideshow
exec-once = python ~/scripts/randomWallpaper.py</code></pre>
      <p>
        Sets the cursor theme (installed separately) and starts a simple
        <a href="https://github.com/Horus645/swww">swww</a> script…
      </p>
      <pre><code class="language-python">import os
import random
import time

wpDir = os.path.join(os.path.expanduser(&#39;~&#39;), &#39;wallpapers&#39;)
tMins = 15

os.system(&#39;swww init&#39;)
time.sleep(.25)         # ensure swww has started

while True:
    randImg = os.path.join(wpDir, random.choice(os.listdir(wpDir)))
    
    os.system(f&#39;swww img {randImg}&#39;)

    time.sleep( tMins * 60 )</code></pre>
      <p>
        …which changes the wallpaper to a random file from ~/wallpapers every 15
        minutes.
      </p>
      <h3 id="python-this-couldshould-all-be-in-posix-shell">
        Python?! This could/should all be in POSIX Shell!
      </h3>
      <p>
        Yes, it could/should be. Feel free to use something more suckless in
        your implementation and tut under your breath at the `os.system` calls.
        Python is easy to write, I am lazy, and modern hardware is more than
        fast enough.
      </p>
      <h2 id="eww">Eww</h2>
      <p>
        Hyprland and
        <a href="https://github.com/elkowar/eww">Elkowar’s Wacky Widgets</a>
        make up the backbone of this rice. The status bar, notifications, and
        tray widgets are all eww windows.
      </p>
      <figure>
        <img
          loading="lazy"
          @click="zoomImage('https://ik.imagekit.io/vlfldr/eww_bar.png')"
          src="https://ik.imagekit.io/vlfldr/tr:w-720/eww_bar.png"
          alt="Finished eww status bar"
        />
        <figcaption aria-hidden="true">Finished eww status bar</figcaption>
      </figure>
      <p>
        We’ll add these lines to initialize everything and launch a script which
        allows the two programs to communicate:
      </p>
      <pre><code class="lang-ini"># eww statusbar
exec-once = eww daemon
exec-once = eww open-many w_volume w_brightness w_bluetooth w_calendar
exec-once = eww open-many w_wintitle w_workspaces w_nowplaying w_tray
# eww + hyprland bridge
exec-once = python ~/.config/eww/scripts/hypr.py</code></pre>
      <p>
        Eww startup is split into two phases to ensure widgets on the bottom
        layer (volume and brightness sliders) open underneath widgets which
        should always be on top.
        <code>hypr.py</code> connects to Hyprland’s event socket and listens for
        window/workspace updates, passing relevant state data through to eww’s
        window title and workspace widgets. More on that later. Next up in
        <code>hyprland.conf</code>:
      </p>
      <pre><code class="lang-ini"># networking service
exec-once = sudo systemctl start NetworkManager
# notification service
exec-once = dunst
# authentication service
exec-once = /usr/libexec/kf5/polkit-kde-authentication-agent-1
# KDE connect service
exec-once = /usr/libexec/kdeconnectd
# battery monitor
exec-once = python ~/scripts/batteryCtl.py</code></pre>
      <p>
        Because tiling window managers like Sway and Hyprland are
        <em>window managers</em> and not desktop environments, they don’t
        automatically start system services upon login. Check out the amount of
        services a stock KDE desktop is running in the background:
      </p>
      <figure>
        <video src="/hyprland/fedora_autostart.mp4" controls="">
          <a href="/hyprland/fedora_autostart.mp4"
            >The list of background services running by default in KDE</a
          >
        </video>
        <figcaption aria-hidden="true">
          The list of background services running by default in KDE
        </figcaption>
      </figure>
      <p>
        It’d be easy to autostart all KDE’s services by initializing the Plasma
        desktop, but we can also cherry pick or roll our own and start them
        manually, as above. Here we start
        <a href="https://www.musicpd.org/">music player daemon</a> and a
        modified <a href="https://git.sr.ht/~hnaguski/aart">aart</a> script to
        handle album art:
      </p>
      <pre><code class="lang-ini"># placeholder for album art
exec-once = cp ~/.config/ncmpcpp/placeholder.png /tmp/aart
# music daemon, album art, event handler
exec-once = mpd
exec-once = bash ~/scripts/aart.sh
exec-once = python ~/.config/eww/scripts/mpcIdle.py</code></pre>
      <p>
        mpd (music player daemon) is our music player and
        <a href="https://github.com/ncmpcpp/ncmpcpp">ncmpcpp</a> is an ncurses
        frontend for it - a common choice for tiling window manager enthusiasts.
        The main drawback is that both programs can be finicky to configure
        correctly. For now, it should be sufficient to point
        <code>music_directory</code> in <code>.config/mpd/mpd.conf</code> at
        your library. I won’t go any more in depth in this series as there are
        <a href="https://wiki.archlinux.org/title/Music_Player_Daemon"
          >far better resources</a
        >
        on configuring mpd available elsewhere.
      </p>
      <h2 id="initial-launch-layout">Initial launch layout</h2>
      <p>
        The next section of <code>hyprland.conf</code> launches a terminal in
        the first workspace and an album art window, music player, and
        visualizer in the fifth (music) workspace.
      </p>
      <pre><code class="lang-ini"># workspace 1 terminal
exec-once = kitty

# workspace 5 album art
windowrule = workspace 5 silent, Sxiv
exec-once = sxiv /tmp/aart -b -g 512x512+53+95

# workspace 5 music player
windowrule = float, ncmpcpp
windowrule = workspace 5 silent, ncmpcpp
windowrule = size 845 418, ^(ncmpcpp)$
windowrule = move 615 116, ^(ncmpcpp)$
exec-once = kitty --class ncmpcpp ncmpcpp

# workspace 5 music visualizer
windowrule = float, cava
windowrule = workspace 5 silent, cava
windowrule = move 365 657, ^(cava)$
windowrule = size 642 240, ^(cava)$
exec-once = sleep 2 &amp;&amp; kitty --class cava cava

# clean up window rules
exec-once = python scripts/postStart.py</code></pre>
      <p>
        The syntax is a bit verbose, but all this does is open a few floating
        windows of specific sizes in specific positions. We pass the
        <code>--class</code> flag to <code>kitty</code> to apply class-based
        window rules.
        <a href="https://github.com/muennich/sxiv">Simple X Image Viewer</a>
        (sxiv) only needs to be told which workspace to appear in - size and
        position can be specified via command line flags.
      </p>
      <figure>
        <video src="/hyprland/music_workspace.mp4" controls="">
          <a href="/hyprland/music_workspace.mp4"
            >Cava (visualizer), ncmpcpp (music client), and sxiv in the music
            workspace.</a
          >
        </video>
        <figcaption aria-hidden="true">
          Cava (visualizer), ncmpcpp (music client), and sxiv in the music
          workspace. The slight blur is a result of my sloppy video compression
          job.
        </figcaption>
      </figure>
      <p>
        <code>postStart.py</code> removes these rules after a few seconds so
        subsequent instances of sxiv and kitty behave normally:
      </p>
      <pre><code class="lang-python">import os
import time

cmd = '''hyprctl --batch "\
keyword windowrule workspace unset,cava ; \
keyword windowrule workspace unset,ncmpcpp ; \
keyword windowrule workspace unset,Sxiv ; \
keyword windowrule size      unset,cava ; \
keyword windowrule move      unset,cava ; \
keyword windowrule move      unset,ncmpcpp ; \
keyword windowrule size      unset,ncmpcpp ;"
'''

time.sleep(5)
os.system(cmd)
</code></pre>
      <p>
        This pattern is
        <a
          href="https://wiki.hyprland.org/FAQ/#how-do-i-autostart-my-favorite-apps"
          >recommended</a
        >
        on the Hyprland wiki.
      </p>
      <h2 id="wofi">Wofi</h2>
      <p>
        Next up is our application launcher,
        <a href="https://hg.sr.ht/~scoopta/wofi">Wofi</a>. <b>W</b>ayland R<b
          >ofi</b
        >
        is a Wayland compatible fork of
        <a href="https://github.com/davatorium/rofi">Rofi</a>, which is the
        spiritual successor
        <a href="https://tools.suckless.org/dmenu/">dmenu</a>, the OG
        application launcher. Wofi has its own set of configuration files we'll
        go over in a later article. On the Hyprland side of things, all there is
        to do is set up this animation rule:
      </p>
      <pre><code class="lang-ini"># application launcher slide-in animation
# IMPORTANT: normal_window = true must be set in wofi config
windowrule = move 400 12, ^(wofi)$
windowrule = animation slidein, ^(wofi)$</code></pre>
      <p>
        Hyprland only has one animation for Wayland layers (fade) and we want
        our application launcher to slide in from the top of the screen. A
        killer feature of Wofi is its ability to spawn as a normal window
        instead of a layer like most application launchers. This allows the
        larger set of window animations - including <code>slidein</code> - to be
        applied. The first rule is our target position after sliding in. Slick!
      </p>
      <figure>
        <video src="/hyprland/wofi.mp4" controls="">
          <a href="/hyprland/wofi.mp4">Wofi application launcher animation</a>
        </video>
        <figcaption aria-hidden="true">
          Wofi application launcher animation
        </figcaption>
      </figure>
      <h2 id="screen-capture">Screen capture</h2>
      <p>
        Screen capture on Wayland is famously difficult due to how the protocol
        treats displays. We can get it up and running with a little help from
        Hyprland’s prescient
        <a href="https://wiki.hyprland.org/FAQ/#screenshare--obs-no-worky"
          >OBS no worky</a
        >
        page.
      </p>
      <p>
        The
        <a
          href="https://wiki.hyprland.org/Useful-Utilities/Hyprland-desktop-portal/"
          >gist</a
        >
        of it is to install a
        <a href="https://github.com/hyprwm/xdg-desktop-portal-hyprland"
          >fork of xdg-desktop-portal</a
        >
        the Hyprland team develops and uninstall competing xdg-desktop-portal-*
        packages (including xdg-desktop-portal-kde). After a reboot, screen
        capture via Pipewire is enabled in supported tools such as OBS Studio
        (used to record the videos in this post).
      </p>
      <figure>
        <video src="/hyprland/obs_functionality.mp4" controls="">
          <a href="/hyprland/obs_functionality.mp4"
            >OBS screen capture working in Wayland via Pipewire</a
          >
        </video>
        <figcaption aria-hidden="true">
          OBS screen capture working in Wayland via Pipewire
        </figcaption>
      </figure>
      <p>
        Phew, done with the boring stuff (for now). Next up is eye candy -
        borders, shadows, rounded corners, and the like.
      </p>
      <h2 id="colors">Colors</h2>
      <p>
        Throughout this rice I’ll be using colors from the
        <a href="https://github.com/morhetz/gruvbox#dark-mode-1">Gruvbox</a>
        palette. I know it’s a bit played out, but after looking for hours I
        couldn’t find anything more warm, inviting, and well-balanced!
      </p>
      <figure>
        <img
          loading="lazy"
          @click="zoomImage('https://ik.imagekit.io/vlfldr/gruvbox.png')"
          src="https://ik.imagekit.io/vlfldr/tr:w-720/gruvbox.png"
          alt="The Gruvbox dark color palette"
        />
        <figcaption aria-hidden="true">
          The Gruvbox dark color palette
        </figcaption>
      </figure>
      <p><em>Honorable colorscheme mentions:</em></p>
      <ul>
        <li><a href="https://github.com/sainnhe/everforest">Everforest</a></li>
        <li><a href="https://draculatheme.com/">Dracula</a></li>
        <li>
          <a href="https://github.com/catppuccin/catppuccin">Catppuccin</a>
        </li>
      </ul>
      <h2 id="window-decoration">Window Decoration</h2>
      <p>
        First we’ll set 10px gaps between windows and a 2px thick border.
        Dwindle is the out-of-the-box default tiling behavior:
      </p>
      <pre><code class="lang-ini">general {
    gaps_in = 5
    gaps_out = 10
    border_size = 2
    col.active_border = rgba(BDAE93FF)
    col.inactive_border = rgba(504945FF)

    layout = dwindle
}</code></pre>
      <p>
        Next let’s give windows a 1px corner radius, slight blur if they’re
        transparent, and shadows:
      </p>
      <pre><code class="lang-ini">decoration {
    rounding = 1
    blur = yes
    blur_size = 5
    blur_passes = 1
    blur_new_optimizations = on

    drop_shadow = yes
    shadow_range = 10
    shadow_render_power = 3
    shadow_offset = 4 4
    col.shadow = rgba(22222280)
}</code></pre>
      <p>
        <code>22222280</code> is the hyprland hex color format, equivalent to
        <code>rgba(#222, 0.5)</code> in CSS. Shadow_render_power makes shadows
        heavier or lighter - the default value of 3 looks good in our setup.
        Supplying both a positive X and Y offset places shadows slightly under
        and to the right of windows. Looking good!
      </p>
      <figure>
        <img
          loading="lazy"
          @click="zoomImage('https://ik.imagekit.io/vlfldr/window_corners.png')"
          src="https://ik.imagekit.io/vlfldr/tr:w-720/window_corners.png"
          alt="A closeup of the configured window borders"
        />
        <figcaption aria-hidden="true">
          A closeup of the configured window borders
        </figcaption>
      </figure>
      <p>
        I’ve included the animations section here for completeness, but it’s
        straight from the autogenerated config file:
      </p>
      <pre><code class="lang-ini">animations {
    enabled = yes

    bezier = myBezier, 0.05, 0.9, 0.1, 1.05

    animation = windows, 1, 7, myBezier
    animation = windowsOut, 1, 7, default, popin 80%
    animation = border, 1, 10, default
    animation = fade, 1, 7, default
    animation = workspaces, 1, 6, default
}</code></pre>
      <p>
        The default animations look fantastic, but Hyprland doesn’t have much to
        offer as far as customization at this point.
      </p>
      <figure>
        <video src="/hyprland/new_window.mp4" controls="">
          <a href="/hyprland/new_window.mp4"
            >Hyprland’s default new window animation</a
          >
        </video>
        <figcaption aria-hidden="true">
          Hyprland’s default new window animation
        </figcaption>
      </figure>
      <p>
        For example, the <code>popin</code> and <code>slidein</code> animations
        can only be applied to normal windows, while Wayland layers can only use
        the <code>fade</code> animation. This is why we’ll have to jump through
        hoops in our Wofi configuration later on to apply the
        <code>slidein</code> animation. Fine-grained animation support is coming
        in the future (according to
        <a
          href="https://github.com/hyprwm/Hyprland/issues/981#issuecomment-1308471829"
          >official press releases</a
        >
        and the like).
      </p>
      <p>
        The only thing left before getting into keybinds is a whole bunch of
        boilerplate. This section disables Hyprland branding which appears
        during login and before a wallpaper is applied:
      </p>
      <pre><code class="lang-ini">misc {
    disable_hyprland_logo = true
    disable_splash_rendering = true
}</code></pre>
      <p>
        This section sets the keyboard layout and configures a few optional
        touchpad features. <code>sensitivity</code> can be adjusted from -1.0 to
        1.0 to control mouse speed.
      </p>
      <pre><code class="lang-ini">input {
    kb_layout = us
    follow_mouse = 1

    touchpad {
        tap-to-click = yes
        middle_button_emulation = yes
        natural_scroll = yes
    }
    sensitivity = 0
}</code></pre>
      <p>
        These last two sections configure tiling behavior are also unmodified
        from the default config. Dwindle (spiral) tiling works perfectly in 95%
        of situations.
      </p>
      <pre><code class="lang-ini">dwindle {
    pseudotile = yes
    preserve_split = yes
}

master {
    new_is_master = true
}</code></pre>
      <p>Last but certainly not least: keybinds!</p>
      <h2 id="keybinds">Keybinds</h2>
      <p>
        Keybinds are of paramount importance in a tiling window manager like
        Hyprland. The true power of a TWM is only unlocked when combined with
        terminal-based workflows and muscle memory. When you spend hundreds of
        hours a month working with computers, it can be more ergonomic and
        efficient to do everything with the keyboard instead of reaching for the
        mouse every couple seconds.
      </p>
      <p>
        We’ll start implementing keybinds in <code>hyprland.conf</code> by
        defining our main modifier key - used in all other keybinds - as
        <code>SUPER</code> (a.k.a. "the Windows key"). Alt, control, and shift
        can be used instead, but it's standard to use the Super key to avoid
        overlap with other programs' shortcuts. Then we’ll define a handful of
        binds to open frequently used applications:
      </p>
      <pre><code class="lang-ini">$mainMod = SUPER

bind = $mainMod, RETURN, exec, kitty
bind = $mainMod, V, exec, kitty nvim
bind = $mainMod, R, exec, kitty ranger
bind = $mainMod, P, exec, wofi --color ~/.config/wofi/colors</code></pre>
      <p>
        Fairly straightforward.
        <a href="https://github.com/kovidgoyal/kitty">Kitty</a> is my terminal
        emulator of choice,
        <a href="https://github.com/ranger/ranger">ranger</a> is a TUI file
        manager with thumbnail support,
        <a href="https://hg.sr.ht/~scoopta/wofi">Wofi</a> is our application
        launcher, and hopefully Neovim needs no introduction. Now we can press
        <code>super + V</code> to open Neovim, <code>super + R</code> to open
        Ranger, or <code>super + P</code> to launch a program from Wofi.
      </p>
      <figure>
        <video src="/hyprland/kitty_vim_ranger.mp4" controls="">
          <a href="/hyprland/kitty_vim_ranger.mp4"
            >Opening applications with Super + V, Super + R, and Super +
            Enter</a
          >
        </video>
        <figcaption aria-hidden="true">
          Opening applications with Super + V, Super + R, and Super + Enter
        </figcaption>
      </figure>
      <p>The next set of bindings handles Hyprland functions:</p>
      <pre><code class="lang-ini">bind = $mainMod, F, fullscreen
bind = $mainMod, W, togglefloating
bind = $mainMod SHIFT, C, killactive
bind = $mainMod SHIFT, Q, exec, wayland-logout</code></pre>
      <p>
        Standard functionality for most tiling window managers: toggle
        fullscreen for the focused window, toggle floating/tiling status, close
        a window, and log out. Next, let’s put the “fun” back in “function keys”
        (sorry) with some <code>Fn</code> key bindings:
      </p>
      <pre><code class="lang-ini"># volume function keys
bindl  =, XF86AudioMute, exec, python ~/scripts/audioCtl.py mute
bindle =, XF86AudioRaiseVolume, exec, python ~/scripts/audioCtl.py up
bindle =, XF86AudioLowerVolume, exec, python ~/scripts/audioCtl.py down

# brightness function keys
bindle =, XF86MonBrightnessDown, exec, python ~/scripts/brightnessCtl.py down
bindle =, XF86MonBrightnessUp, exec, python ~/scripts/brightnessCtl.py up

# media function keys
bind =, XF86AudioPrev, exec, mpc prev 
bind =, XF86AudioPlay, exec, mpc toggle
bind =, XF86AudioNext, exec, mpc next</code></pre>
      <p>
        <code>audioCtl.py</code> and <code>brightnessCtl.py</code> are thin
        wrappers around <code>pactl</code> and <code>light</code> respectively.
        These scripts also update the state of Eww variables, allowing us to do
        things like reveal the volume meter with an animation when a volume key
        is pressed.
      </p>
      <figure>
        <video src="/hyprland/media_keys.mp4" controls="">
          <a href="/hyprland/media_keys.mp4"
            >Controlling brightness, volume, and music with the function keys</a
          >
        </video>
        <figcaption aria-hidden="true">
          Controlling brightness, volume, and music with the function keys
        </figcaption>
      </figure>
      <p>
        The media function keys send simpler commands because we will be writing
        a separate script to update music-related Eww variables later.
      </p>
      <p>
        Some of the last custom keybinds are to set wallpapers and handle the
        <strong>special workspace</strong>.
      </p>
      <pre><code class="lang-ini"># wallpapers
bind = $mainMod, O, exec, swww img $(ls -d ~/wallpapers/* | shuf -n 1)
bind = $mainMod SHIFT, O, exec, swww img ~/wallpapers/01.png
bind = $mainMod CTRL, O, exec, swww img ~/wallpapers/02.png</code></pre>
      <p>
        <code>Super + O</code> cycles to a new random wallpaper from
        ~/wallpapers while <code>super + shift + O</code> and
        <code>super + ctrl + O</code> switch to specific wallpapers. Here’s what
        that looks like:
      </p>
      <figure>
        <video src="/hyprland/swww_transition.mp4" controls="">
          <a href="/hyprland/swww_transition.mp4"
            >Switching between 01.png and 02.png with the keyboard</a
          >
        </video>
        <figcaption aria-hidden="true">
          Switching between 01.png and 02.png with the keyboard
        </figcaption>
      </figure>
      <p>
        To explain this last bind, let’s talk about what Hyprland refers to as
        the <strong>special workspace</strong> and other tiling window managers
        refer to as the <strong>scratchpad</strong>.
      </p>
      <pre><code class="lang-ini"># alt+tab to send/bring back from scratchpad
bind = ALT, TAB, exec, python ~/scripts/scratchpad.py</code></pre>
      <p>
        The special workspace is just an invisible workspace which (in our
        configuration) can only hold one window at a time. It’s possible to
        define multiple special workspaces and send dozens of windows to each,
        but I find it most useful for emulating the minimize/maximize
        functionality of more common window managers. Pressing Alt + Tab sends a
        window off of or onto the screen via this script:
      </p>
      <pre><code class="lang-python">import os

raw = os.popen(&#39;hyprctl workspaces&#39;).read()
scratchpadActive = &#39;workspace ID -99&#39; in raw

if scratchpadActive:
    ws = os.popen(&#39;eww get currentWorkspace&#39;).read()

    os.system(&#39;hyprctl dispatch togglespecialworkspace 0&#39;)
    os.system(&#39;hyprctl dispatch movetoworkspace &#39; + ws)

else:
    os.system(&#39;hyprctl dispatch movetoworkspacesilent special&#39;)</code></pre>
      <p>
        The special workspace (or scratchpad) has a special ID of -99. If this
        ID is included in the output of <code>hyprctl workspaces</code>, there’s
        already a window there, so we “maximize” it by disabling the special
        workspace and moving the window back into view. Otherwise the current
        window is “minimized” by moving it to the invisible special workspace;
        next time we hit Alt + Tab the inverse instruction will execute.
      </p>
      <h2 id="default-keybinds">Default keybinds</h2>
      <p>
        These last couple dozen binds are straight from the example Hyprland
        config and should feel familiar to anyone who’s used a tiling window
        manager before. <code>Super + h, j, k, l</code> to move focus around the
        screen, <code>super + 1-7</code> switches to a different workspace,
        <code>shift + super + 1-7</code> moves a window to a different
        workspace, and floating windows can be dragged/resized with the mouse.
      </p>
      <pre><code class="lang-ini"># move focus with mainMod + HJKL
bind = $mainMod, H, movefocus, l
bind = $mainMod, L, movefocus, r
bind = $mainMod, K, movefocus, u
bind = $mainMod, J, movefocus, d

# switch workspaces with mainMod + [0-9]
bind = $mainMod, 1, workspace, 1
bind = $mainMod, 2, workspace, 2
bind = $mainMod, 3, workspace, 3
bind = $mainMod, 4, workspace, 4
bind = $mainMod, 5, workspace, 5
bind = $mainMod, 6, workspace, 6
bind = $mainMod, 7, workspace, 7

# move active window to a workspace with mainMod + SHIFT + [0-9]
bind = $mainMod SHIFT, 1, movetoworkspace, 1
bind = $mainMod SHIFT, 2, movetoworkspace, 2
bind = $mainMod SHIFT, 3, movetoworkspace, 3
bind = $mainMod SHIFT, 4, movetoworkspace, 4
bind = $mainMod SHIFT, 5, movetoworkspace, 5
bind = $mainMod SHIFT, 6, movetoworkspace, 6
bind = $mainMod SHIFT, 7, movetoworkspace, 7

# move/resize windows with mainMod + LMB/RMB and dragging
bindm = $mainMod, mouse:272, movewindow
bindm = $mainMod, mouse:273, resizewindow</code></pre>
      <h2 id="wrapping-up">Wrapping Up</h2>
      <p>
        Thanks for reading! Hopefully this was helpful if you’re looking to
        build out your own Hyprland based setup. I’d also like to thank
        <a href="https://github.com/vaxerski">Vaxry</a> and
        <a href="https://github.com/fufexan">Fufexan</a> for Hyprland,
        <a href="https://github.com/elkowar">Elkowar</a> for eww,
        <a href="https://github.com/emersion">Emersion</a> for wlroots, and all
        the open source developers that make sinking dozens of hours into a
        useless hobby like this possible. While Wayland isn’t exactly bug-free
        or ready for mass adoption, ricing is a great way to dip one’s toes in
        and maybe even unlock the potential of these new compositors.
      </p>
      <p>
        In the next article,
        <strong>Configuration Tracking and Packaging</strong>, it’s time to take
        a step back from writing config files and make everything reproducible.
        The more time you put into a project like this, the more important it is
        to keep track of changes and ensure everything can be set up from
        scratch if needed. We’ll create a bare git repository to manage files, a
        shell script to automatically set everything up, and ensure all relevant
        settings are backed up. See you then!
      </p>
      <HireMeFooter />
    </div>
  </div>
</template>
  
<script setup>
import Prism from "prismjs";
import "prismjs/components/prism-python";
import "prismjs/components/prism-ini";
import ZoomedImage from "../../components/ZoomedImage.vue";
import HireMeFooter from "../../components/HireMeFooter.vue";
import { ref, onMounted } from "vue";

const showModal = ref(false);
const modalImg = ref("");

// syntax highlighting
onMounted(() => {
  Prism.highlightAll();
});

function scrollTop() {
  document.documentElement.scrollTop = 0;
}

function zoomImage(imgPath) {
  showModal.value = true;
  modalImg.value = imgPath;
}
</script>
  