<template>
  <div class="page__content">
    <div class="page__contact">
      <form @submit.prevent="submitForm" class="contact-form">
        <h1 class="contact-form-title">Hi, I'm Steve.</h1>
        <h3 class="contact-form-subtitle">Hiring? Working on an interesting open source project? Let's chat!</h3>
        <div class="contact-form__field">
          <span class="contact-form__field__label"
            ><i class="fa-solid fa-user"></i> Name</span
          >
          <input placeholder="Optional" v-model="formData.name" />
        </div>
        <div class="contact-form__field">
          <span class="contact-form__field__label"
            ><i class="fa-solid fa-envelope"></i> Email</span
          >
          <input placeholder="Optional" v-model="formData.email" />
        </div>
        <div class="textarea-wrapper">
          <textarea placeholder="Message" v-model="formData.message"></textarea>
        </div>
        <div class="contact-form__footer">
          <button type="submit" title="Submit" class="contact-form-submit-btn">
            Submit <i class="fa-solid fa-paper-plane"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>

<script setup>
import { notify } from "@kyvg/vue3-notification";
import { onMounted, ref, inject } from "vue";

const axios = inject("axios");
const backendURL = "/api";

let formData = ref({
  name: "",
  email: "",
  message: "",
});

const colorNames = [
  "$c_DarkBg",
  "$c_Bg",
  "$c_AltBg",
  "$c_Text",
  "$c_AltText",
  "$c_Accent",
];

function gracefulError() {
  notify({
    title:
      "Error: Backend offline. Please use another form of contact. Sorry for the inconvenience.",
    type: "error",
  });
}

function submitForm() {
  if (formData.value.message === "") {
    //alert('Please enter a message.');
    notify({ title: "Please enter a message", type: "warn" });
    return;
  }

  const fd = new FormData();
  fd.append("name", formData.value.name);
  fd.append("email", formData.value.email);
  fd.append("message", formData.value.message);

  axios
    .post(backendURL + "/submit-form", fd)
    .then((res) => {
      if (res.data === "Success") {
        let successMsg = "Success! Thanks for reaching out.";
        if (formData.value.name != "") {
          successMsg =
            "Success! Thanks for reaching out, " + formData.value.name + ".";
        }
        notify({ title: successMsg, type: "success", duration: 5000 });
        setTimeout(() => {
          notify({ title: "I'll be in touch ASAP 👌", duration: 5000 });
        }, 3000);

        formData.value.name = "";
        formData.value.email = "";
        formData.value.message = "";
      } else {
        gracefulError();
      }
    })
    .catch((e) => {
      console.log(e);
      gracefulError();
    });
}

onMounted(() => {
  const form = document.getElementsByClassName("contact-form")[0];
  for (let i = 1; i < 7; i++) {
    const e = document.createElement("div");
    e.classList.add("contact-form-background");
    e.classList.add("contact-form-background__" + i);
    e.style.top = `${i * 70}px`;
    e.style.left = `${i * 70}px`;
    e.style.zIndex = 0 - i;
    e.style.borderColor = colorNames[i];
    form.appendChild(e);
  }
});
</script>