<template>
  <div class="page__content">
    <div class="projects-page">

      <!-- <div class="project-container">
        <div class="project-label">
          <h3>MycoDiaries</h3>
        </div>
        <div class="project">
          <div class="project--image-container">
            <img
              src="https://codeberg.org/vlfldr/homey/raw/branch/master/screenshot.png"
            />
          </div>
          <div class="project--details">
            <div class="project--details__summary">
              <p>
                MycoDiaries is a platform for documenting and sharing mycology work.
              </p>
            </div>
            <ul class="project--details__techstack">
              <li>PostgreSQL</li>
              <li>Svelte & SvelteKit</li>
              <li>Tailwind</li>
              <li>Docker</li>
              <li>TypeScript</li>
            </ul>
            <div class="project--details__links">
              <a
                class="btn-normal no-select"
                href="https://codeberg.org/vlfldr/mycodiaries"
                >Code
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  style="transform: translateY(2px)"
                  width="15"
                  height="15"
                  viewBox="0 0 15 15"
                >
                  <path
                    fill="currentColor"
                    fill-rule="evenodd"
                    d="M11.5 4.5a1 1 0 1 0 0-2a1 1 0 0 0 0 2Zm2.5-1a2.501 2.501 0 0 1-1.872 2.42A3.502 3.502 0 0 1 8.75 8.5h-1.5a2 2 0 0 0-1.965 1.626a2.501 2.501 0 1 1-1.535-.011v-4.23a2.501 2.501 0 1 1 1.5 0v1.742a3.484 3.484 0 0 1 2-.627h1.5a2 2 0 0 0 1.823-1.177A2.5 2.5 0 1 1 14 3.5Zm-8.5 9a1 1 0 1 1-2 0a1 1 0 0 1 2 0Zm0-9a1 1 0 1 1-2 0a1 1 0 0 1 2 0Z"
                    clip-rule="evenodd"
                  />
                </svg>
              </a>
              <router-link
                class="btn-normal no-select"
                to="/projects/mycodiaries"
                >Read more <i class="fa-solid fa-circle-right"></i
              ></router-link>
            </div>
          </div>
        </div>
      </div> -->

      <div class="project-container">
        <div class="project-label mobile-only">
          <h3>uCourse</h3>
          
        </div>

        <div class="project">
          <div class="project--image-container">
            <img src="/ucourse/player_screenshot.png" />
          </div>
          <div class="project--details">
            <div class="project--details__summary">
              <p>
                uCourse is a self-hosted video streaming platform for educational content.
              </p>
            </div>
            <ul class="project--details__techstack">
              <li>Bun</li>
              <li>SolidJS</li>
              <li>Drizzle ORM</li>
              <li>SQLite</li>
              <li>UnoCSS</li>
              <li>TypeScript</li>
            </ul>
            <div class="project--details__links">
              <a
                class="btn-normal no-select"
                href="https://codeberg.org/vlfldr/ucourse"
                >Code
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  style="transform: translateY(2px)"
                  width="15"
                  height="15"
                  viewBox="0 0 15 15"
                >
                  <path
                    fill="currentColor"
                    fill-rule="evenodd"
                    d="M11.5 4.5a1 1 0 1 0 0-2a1 1 0 0 0 0 2Zm2.5-1a2.501 2.501 0 0 1-1.872 2.42A3.502 3.502 0 0 1 8.75 8.5h-1.5a2 2 0 0 0-1.965 1.626a2.501 2.501 0 1 1-1.535-.011v-4.23a2.501 2.501 0 1 1 1.5 0v1.742a3.484 3.484 0 0 1 2-.627h1.5a2 2 0 0 0 1.823-1.177A2.5 2.5 0 1 1 14 3.5Zm-8.5 9a1 1 0 1 1-2 0a1 1 0 0 1 2 0Zm0-9a1 1 0 1 1-2 0a1 1 0 0 1 2 0Z"
                    clip-rule="evenodd"
                  /></svg
              ></a>
              <router-link
                class="btn-normal no-select"
                to="/projects/ucourse"
                >Read more <i class="fa-solid fa-circle-right"></i
              ></router-link>
            </div>
          </div>
        </div>
        <div class="project-label desktop-only">
          <h3>uCourse</h3>
        </div>
        
      </div>


      <div class="project-container">
        
        <div class="project-label">
          <h3>Homey Dashboard</h3>
        </div>
        <div class="project">
          <div class="project--image-container">
            <img
              src="/images/homey_screenshot.png"
            />
          </div>
          <div class="project--details">
            <div class="project--details__summary">
              <p>
                Homey is a simple home server dashboard packed with
                functionality. Monitor and access self-hosted services, connect
                to web-based torrent clients, and manage Docker services... in
                multiple dimensions!
              </p>
            </div>
            <ul class="project--details__techstack">
              <li>ES6 JavaScript</li>
              <li>Vue.js</li>
              <li>Three.js</li>
              <li>Docker</li>
              <li>REST API implementation in Flask</li>
            </ul>
            <div class="project--details__links">
              <a
                class="btn-normal no-select"
                href="https://codeberg.org/vlfldr/homey"
                >Code
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  style="transform: translateY(2px)"
                  width="15"
                  height="15"
                  viewBox="0 0 15 15"
                >
                  <path
                    fill="currentColor"
                    fill-rule="evenodd"
                    d="M11.5 4.5a1 1 0 1 0 0-2a1 1 0 0 0 0 2Zm2.5-1a2.501 2.501 0 0 1-1.872 2.42A3.502 3.502 0 0 1 8.75 8.5h-1.5a2 2 0 0 0-1.965 1.626a2.501 2.501 0 1 1-1.535-.011v-4.23a2.501 2.501 0 1 1 1.5 0v1.742a3.484 3.484 0 0 1 2-.627h1.5a2 2 0 0 0 1.823-1.177A2.5 2.5 0 1 1 14 3.5Zm-8.5 9a1 1 0 1 1-2 0a1 1 0 0 1 2 0Zm0-9a1 1 0 1 1-2 0a1 1 0 0 1 2 0Z"
                    clip-rule="evenodd"
                  />
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="project-container">
        <div class="project-label mobile-only">
          <h3>Setting up a Tiling Wayland Desktop Environment</h3>
        </div>

        <div class="project">
          <div class="project--image-container">
            <img src="/hyprland/music_workspace.png" />
          </div>
          <div class="project--details">
            <div class="project--details__summary">
              <p>
                A series of articles on setting up a custom GNU/Linux desktop
                environment based around the Wayland protocol and Hyprland
                compositor.
              </p>
            </div>
            <ul class="project--details__techstack">
              <li>Fedora GNU/Linux</li>
              <li>Wayland protocol</li>
              <li>Hyprland</li>
              <li>eww</li>
              <li>Python</li>
              <li>Bash</li>
            </ul>
            <div class="project--details__links">
              <a
                class="btn-normal no-select"
                href="https://codeberg.org/vlfldr/dotfiles-wayland"
                >Code
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  style="transform: translateY(2px)"
                  width="15"
                  height="15"
                  viewBox="0 0 15 15"
                >
                  <path
                    fill="currentColor"
                    fill-rule="evenodd"
                    d="M11.5 4.5a1 1 0 1 0 0-2a1 1 0 0 0 0 2Zm2.5-1a2.501 2.501 0 0 1-1.872 2.42A3.502 3.502 0 0 1 8.75 8.5h-1.5a2 2 0 0 0-1.965 1.626a2.501 2.501 0 1 1-1.535-.011v-4.23a2.501 2.501 0 1 1 1.5 0v1.742a3.484 3.484 0 0 1 2-.627h1.5a2 2 0 0 0 1.823-1.177A2.5 2.5 0 1 1 14 3.5Zm-8.5 9a1 1 0 1 1-2 0a1 1 0 0 1 2 0Zm0-9a1 1 0 1 1-2 0a1 1 0 0 1 2 0Z"
                    clip-rule="evenodd"
                  /></svg
              ></a>
              <router-link
                class="btn-normal no-select"
                to="/projects/wayland-hyprland"
                >Read more <i class="fa-solid fa-circle-right"></i
              ></router-link>
            </div>
          </div>
        </div>
        <div class="project-label desktop-only">
          <h3>Setting up a Tiling Wayland Desktop Environment</h3>
        </div>
      </div>

      
      <div class="project-container">
        <div class="project-label mobile-only">
          <h3>Raymarching</h3>
        </div>
        <div class="project-label desktop-only">
          <h3>Raymarching</h3>
        </div>
        <div class="project">
          <div class="project--image-container">
            <img src="/images/raymarching_placeholder.png" />
          </div>
          <div class="project--details">
            <div class="project--details__summary">
              <p>
                A look at rendering geometry with signed distance functions.
                Article coming soon!
              </p>
            </div>
            <ul class="project--details__techstack"></ul>
            <div class="project--details__links">
              <router-link
                class="btn-normal no-select"
                to="/projects/raymarching"
                >Read more <i class="fa-solid fa-circle-right"></i
              ></router-link>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>