<template>
  <div class="page__content">
    <!-- <ResumeMenu :gameEnabled="gameEnabled" @toggleResumeState="gameEnabled = !gameEnabled"></ResumeMenu>
    <ResumeGame v-if="gameEnabled" ref="resumeGame" /> -->
      <embed id="pdf-embed" src="/resume.pdf" type="application/pdf">
  </div>
</template>

<script setup>
//import ResumeGame from '@/components/ResumeGame.vue';
//import ResumeMenu from '@/components/ResumeMenu.vue';
//import { ref } from 'vue';
//const resumeGame = ref(null);

// const gameEnabled = ref(true);

// defineExpose({
//   resumeGame,
//   gameEnabled
// });
</script>